In [1]:
import pandas as pd

In [2]:
import numpy as np

<a id='table_of_contents'></a>

# Table of contents
[Reviewing the dataset](#reviewing_the_dataset)        
    <a href='#file_information'>File information</a>         
    <a href='#officer_information'>Officer information</a>      
    <a href='#race'>Race data</a>         
    <a href='#supervisor'>Supervisor information</a>       
    <a href='#subject_profile'>Subject profile</a>        
    <a href='#the_event'>The event</a>

<a id='reviewing_the_dataset'></a>
# Reviewing the dataset

### Assigned simplified column names to the dataset

In [3]:
new_cols = ['Timestamp', 'Date_inputted', 'County', 'Town', 'File_name', 'Case_report_no',
            'Incident_date', 'Incident_time', 'Location_city', 'Location_detail','Incident_type', 
            'Officer_1_first','Officer_1_last','Officer_1_rank','Officer_1_exp',
            'Officer_1_sex','Officer_1_race','Officer_1_badge_no','Officer_1_injured','Officer_1_hosp' ,'Officer_1_killed',
            'Supervisor_first','Supervisor_last','Supervisor_badge_no','Supervisor_signed',
            'Officer_2_first','Officer_2_last','Officer_2_rank','Officer_2_exp', 'Officer_2_sex',
            'Officer_2_race','Officer_2_badge_no','Officer_2_injured','Officer_2_hosp', 'Officer_2_killed',
            'Officer_3_first','Officer_3_last','Officer_3_rank','Officer_3_exp', 'Officer_3_sex',
            'Officer_3_race','Officer_3_badge_no','Officer_3_injured','Officer_3_hosp', 'Officer_3_killed',
            'Subject_1_first','Subject_1_last','Subject_1_age', 'Subject_1_race','Subject_1_sex',
            'Subject_1_actions','Subject_1_charges','Subject_1_force_nature','Firearms_used',
            'Firearms_discharged','Firearms_shots_no','Subject_1_injured','Subject_1_hosp',
            'Subject_1_killed','Subject_1_photo','Narrative', 
            'Subject_2_first','Subject_2_last','Subject_2_age', 'Subject_2_race','Subject_2_sex',
            'Subject_2_actions','Subject_2_charges','Subject_2_force_nature',
            'Subject_2_injured','Subject_2_hosp','Subject_2_killed','Subject_2_photo', 
            'Subject_3_first','Subject_3_last', 'Subject_3_age', 'Subject_3_race',
            'Subject_3_sex','Subject_3_actions','Subject_3_charges',
            'Subject_3_force_nature','Subject_3_injured','Subject_3_hosp',
            'Subject_3_killed','Subject_3_photo'
           ]

In [5]:
# Reading in the data
df = pd.read_csv('UoF-RAW-Complete.csv', names=new_cols, header=None, skiprows=1,
                dtype={'Officer_3_badge_no':str})

/Users/epetenko/miniconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (25,26,27,29,30,31,32,33,34,35,36,37,39,40,42,43,44,55,72,73,74,75,76,77,78,79,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# Here are the first five rows
df.head()

,Timestamp,Date_inputted,County,Town,File_name,Case_report_no,Incident_date,Incident_time,Location_city,Location_detail,...,Subject_3_age,Subject_3_race,Subject_3_sex,Subject_3_actions,Subject_3_charges,Subject_3_force_nature,Subject_3_injured,Subject_3_hosp,Subject_3_killed,Subject_3_photo
0,6/7/18 6:04,6/8/16,Union County,Springfield,SPRINGFIELD-UNION-UOF-2012-2016,I-2012-002796,4/14/12,7:46,Springfield,"295 Route 22 Eastbound, NJ 07081",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6/7/18 6:17,6/8/16,Union County,Springfield,SPRINGFIELD-UNION-UOF-2012-2016,I-2012-009250,10/2/12,4:34,Springfield,"100 Mountain Avenue, NJ 07081",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6/7/18 6:23,6/8/16,Union County,Springfield,SPRINGFIELD-UNION-UOF-2012-2016,I-2013-000011,1/1/13,1:39,Springfield,"Stew Leonard's Wines - 901 Mountain Avenue, NJ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6/7/18 6:32,6/8/16,Union County,Springfield,SPRINGFIELD-UNION-UOF-2012-2016,I-2013-004131,4/19/13,11:59,Springfield,"Victory Road, NJ 07081",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6/7/18 6:39,6/8/16,Union County,Springfield,SPRINGFIELD-UNION-UOF-2012-2016,I-2013-004131,4/19/13,10:51,Springfield,"Victory Road, NJ 07081",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#These are each column's names, length, and data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72485 entries, 0 to 72484
Data columns (total 85 columns):
Timestamp                 72485 non-null object
Date_inputted             72485 non-null object
County                    72485 non-null object
Town                      72485 non-null object
File_name                 72485 non-null object
Case_report_no            72485 non-null object
Incident_date             72485 non-null object
Incident_time             72485 non-null object
Location_city             22859 non-null object
Location_detail           72484 non-null object
Incident_type             71814 non-null object
Officer_1_first           72485 non-null object
Officer_1_last            72485 non-null object
Officer_1_rank            72485 non-null object
Officer_1_exp             50508 non-null object
Officer_1_sex             72485 non-null object
Officer_1_race            52854 non-null object
Officer_1_badge_no        71919 non-null object
Officer_1_injured         72485 non-null object
Officer_1_hosp            72485 non-null object
Officer_1_killed          72485 non-null object
Supervisor_first          72485 non-null object
Supervisor_last           72485 non-null object
Supervisor_badge_no       72485 non-null object
Supervisor_signed         72485 non-null object
Officer_2_first           12844 non-null object
Officer_2_last            12844 non-null object
Officer_2_rank            12844 non-null object
Officer_2_exp             0 non-null float64
Officer_2_sex             12844 non-null object
Officer_2_race            294 non-null object
Officer_2_badge_no        479 non-null object
Officer_2_injured         12844 non-null object
Officer_2_hosp            12844 non-null object
Officer_2_killed          12844 non-null object
Officer_3_first           12844 non-null object
Officer_3_last            12844 non-null object
Officer_3_rank            12844 non-null object
Officer_3_exp             0 non-null float64
Officer_3_sex             12844 non-null object
Officer_3_race            96 non-null object
Officer_3_badge_no        174 non-null object
Officer_3_injured         12844 non-null object
Officer_3_hosp            12844 non-null object
Officer_3_killed          12844 non-null object
Subject_1_first           72485 non-null object
Subject_1_last            72485 non-null object
Subject_1_age             72485 non-null object
Subject_1_race            70978 non-null object
Subject_1_sex             72485 non-null object
Subject_1_actions         71046 non-null object
Subject_1_charges         72484 non-null object
Subject_1_force_nature    71092 non-null object
Firearms_used             72485 non-null object
Firearms_discharged       72485 non-null object
Firearms_shots_no         72485 non-null object
Subject_1_injured         72485 non-null object
Subject_1_hosp            72485 non-null object
Subject_1_killed          51678 non-null object
Subject_1_photo           2007 non-null object
Narrative                 2945 non-null object
Subject_2_first           72485 non-null object
Subject_2_last            72485 non-null object
Subject_2_age             72485 non-null object
Subject_2_race            1898 non-null object
Subject_2_sex             72484 non-null object
Subject_2_actions         1741 non-null object
Subject_2_charges         72475 non-null object
Subject_2_force_nature    1772 non-null object
Subject_2_injured         72480 non-null object
Subject_2_hosp            72468 non-null object
Subject_2_killed          1307 non-null object
Subject_2_photo           75 non-null object
Subject_3_first           12844 non-null object
Subject_3_last            12844 non-null object
Subject_3_age             12844 non-null object
Subject_3_race            84 non-null object
Subject_3_sex             12844 non-null object
Subject_3_actions         76 non-null object
Subject_3_charges         12844 non-null object
Subject_3_force_nature    88 non-null object
Subject_3_injured         12844 non-null object
Subject_3_hosp            12844 non-null object
Subject_3_killed          0 non-null float64
Subject_3_photo           0 non-null float64
dtypes: float64(4), object(81)
memory usage: 47.0+ MB

### Stripped whitespace from entire dataset

In [8]:
#Select object-only columns
str_cols = df.select_dtypes(include=['object']).columns

# Ran loop to strip each of those columns
for n in str_cols:
    df[n] = df[n].str.strip()

#### Individually viewed each column to check what outlier points there may be

In [9]:
#Just kind of imagine this but for every column. I don't feel like including all of it here
df.Subject_1_killed.unique()

array(['No', nan, 'Yes', 'REDACTED', 'ILLEGIBLE'], dtype=object)

#### Isolated deaths from subjects and officers to allow for faster reporting

In [10]:
# df[(df.Subject_1_killed == 'Yes') | (df.Subject_2_killed == 'Yes')].to_csv('Subjects_killed.csv', index=False)

In [11]:
# df[(df.Officer_1_killed == 'Yes') | (df.Officer_2_killed == 'Yes') | (df.Officer_3_killed == 'Yes')].to_csv('Officers_killed.csv', index=False)

# Standardizing each column

<a id='file_information'></a>

## Part 1 - File information

[Back to the top](#table_of_contents)

### First step: Timestamp column. Changed to DateTime format

In [12]:
df.Timestamp.unique()

array(['6/7/18 6:04', '6/7/18 6:17', '6/7/18 6:23', ...,
       '6/15/2018 0:58:00', '6/15/2018 1:00:32', '6/15/2018 1:05:55'], dtype=object)

In [13]:
# Needed to replace year abbreviations with actual year
df.Timestamp = df.Timestamp.replace(to_replace='/18 ', value="/2018 ", regex=True)

In [14]:
df.Timestamp = pd.to_datetime(df.Timestamp, errors='coerce')

In [15]:
#confirmed with visual check in both pandas and Excel
df.Timestamp.unique()
# pd.DataFrame(df.Timestamp.unique()).to_csv('datetime_check.csv')

array(['2018-06-07T06:04:00.000000000', '2018-06-07T06:17:00.000000000',
       '2018-06-07T06:23:00.000000000', ...,
       '2018-06-15T00:58:00.000000000', '2018-06-15T01:00:32.000000000',
       '2018-06-15T01:05:55.000000000'], dtype='datetime64[ns]')

### Next: The given date in the form

In [16]:
#the original values
df.Date_inputted.unique()

array(['6/8/16', '2/19/18', '2/20/18', '2/21/18', '2/22/18', '2/23/18',
       '2/26/18', '2/27/18', '2/28/18', '3/1/18', '3/2/18', '3/5/18',
       '3/6/18', '3/7/18', '3/8/18', '3/9/18', '3/12/18', '3/13/18',
       '3/14/18', '3/15/18', '3/16/18', '3/19/18', '3/20/18', '3/21/18',
       '3/22/18', '3/23/18', '3/26/18', '3/27/18', '3/28/18', '3/29/18',
       '3/30/18', '4/2/18', '4/3/18', '4/4/18', '4/5/18', '4/6/18',
       '4/9/18', '4/10/18', '4/11/18', '4/12/18', '4/13/18', '4/16/18',
       '4/17/18', '4/18/18', '4/19/18', '4/20/18', '4/23/18', '4/24/18',
       '4/25/18', '4/26/18', '4/27/18', '4/30/18', '5/1/18', '5/2/18',
       '5/3/18', '5/4/18', '5/7/18', '5/8/18', '5/9/18', '5/10/18',
       '5/11/18', '5/14/18', '5/15/18', '5/16/18', '5/17/18', '5/18/18',
       '5/21/18', '5/22/18', '5/23/18', '5/24/18', '5/25/18', '5/28/18',
       '5/29/18', '5/30/18', '5/31/18', '6/1/18', '6/4/18', '6/5/18',
       '6/6/18', '6/7/18', '6/12/18', '6/13/18', '6/14/18', '6/18/18',
       '6/19/18', '6/20/18', '6/21/18', '6/22/18', '6/25/18', '6/26/18',
       '6/27/18', '6/28/18', '6/29/18', '7/2/18', '7/3/18', '7/4/18',
       '7/5/18', '03-05-2018', '03-15-2018', '03-20-2018', '03-22-2018',
       '03-23-2018', '04-17-2018', '05-07-2018', '05-15-2018',
       '06-11-2018', '06-15-2018'], dtype=object)

#### Replaced 2016 date with 2018 as per Craig's instruction

In [17]:
df.Date_inputted = df.Date_inputted.replace(to_replace='6/8/16', value='6/8/18')

#### Converted to DateTime: checked before and after that none were dropped

In [18]:
df.Date_inputted.count()

72485

In [19]:
df.Date_inputted = pd.to_datetime(df.Date_inputted, errors='coerce')

In [20]:
df.Date_inputted.count()

72485

In [21]:
df.Date_inputted.unique()
# df.Date_inputted.to_csv('dateinputted_check.csv')

array(['2018-06-08T00:00:00.000000000', '2018-02-19T00:00:00.000000000',
       '2018-02-20T00:00:00.000000000', '2018-02-21T00:00:00.000000000',
       '2018-02-22T00:00:00.000000000', '2018-02-23T00:00:00.000000000',
       '2018-02-26T00:00:00.000000000', '2018-02-27T00:00:00.000000000',
       '2018-02-28T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-03-02T00:00:00.000000000', '2018-03-05T00:00:00.000000000',
       '2018-03-06T00:00:00.000000000', '2018-03-07T00:00:00.000000000',
       '2018-03-08T00:00:00.000000000', '2018-03-09T00:00:00.000000000',
       '2018-03-12T00:00:00.000000000', '2018-03-13T00:00:00.000000000',
       '2018-03-14T00:00:00.000000000', '2018-03-15T00:00:00.000000000',
       '2018-03-16T00:00:00.000000000', '2018-03-19T00:00:00.000000000',
       '2018-03-20T00:00:00.000000000', '2018-03-21T00:00:00.000000000',
       '2018-03-22T00:00:00.000000000', '2018-03-23T00:00:00.000000000',
       '2018-03-26T00:00:00.000000000', '2018-03-27T00:00:00.000000000',
       '2018-03-28T00:00:00.000000000', '2018-03-29T00:00:00.000000000',
       '2018-03-30T00:00:00.000000000', '2018-04-02T00:00:00.000000000',
       '2018-04-03T00:00:00.000000000', '2018-04-04T00:00:00.000000000',
       '2018-04-05T00:00:00.000000000', '2018-04-06T00:00:00.000000000',
       '2018-04-09T00:00:00.000000000', '2018-04-10T00:00:00.000000000',
       '2018-04-11T00:00:00.000000000', '2018-04-12T00:00:00.000000000',
       '2018-04-13T00:00:00.000000000', '2018-04-16T00:00:00.000000000',
       '2018-04-17T00:00:00.000000000', '2018-04-18T00:00:00.000000000',
       '2018-04-19T00:00:00.000000000', '2018-04-20T00:00:00.000000000',
       '2018-04-23T00:00:00.000000000', '2018-04-24T00:00:00.000000000',
       '2018-04-25T00:00:00.000000000', '2018-04-26T00:00:00.000000000',
       '2018-04-27T00:00:00.000000000', '2018-04-30T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2018-05-02T00:00:00.000000000',
       '2018-05-03T00:00:00.000000000', '2018-05-04T00:00:00.000000000',
       '2018-05-07T00:00:00.000000000', '2018-05-08T00:00:00.000000000',
       '2018-05-09T00:00:00.000000000', '2018-05-10T00:00:00.000000000',
       '2018-05-11T00:00:00.000000000', '2018-05-14T00:00:00.000000000',
       '2018-05-15T00:00:00.000000000', '2018-05-16T00:00:00.000000000',
       '2018-05-17T00:00:00.000000000', '2018-05-18T00:00:00.000000000',
       '2018-05-21T00:00:00.000000000', '2018-05-22T00:00:00.000000000',
       '2018-05-23T00:00:00.000000000', '2018-05-24T00:00:00.000000000',
       '2018-05-25T00:00:00.000000000', '2018-05-28T00:00:00.000000000',
       '2018-05-29T00:00:00.000000000', '2018-05-30T00:00:00.000000000',
       '2018-05-31T00:00:00.000000000', '2018-06-01T00:00:00.000000000',
       '2018-06-04T00:00:00.000000000', '2018-06-05T00:00:00.000000000',
       '2018-06-06T00:00:00.000000000', '2018-06-07T00:00:00.000000000',
       '2018-06-12T00:00:00.000000000', '2018-06-13T00:00:00.000000000',
       '2018-06-14T00:00:00.000000000', '2018-06-18T00:00:00.000000000',
       '2018-06-19T00:00:00.000000000', '2018-06-20T00:00:00.000000000',
       '2018-06-21T00:00:00.000000000', '2018-06-22T00:00:00.000000000',
       '2018-06-25T00:00:00.000000000', '2018-06-26T00:00:00.000000000',
       '2018-06-27T00:00:00.000000000', '2018-06-28T00:00:00.000000000',
       '2018-06-29T00:00:00.000000000', '2018-07-02T00:00:00.000000000',
       '2018-07-03T00:00:00.000000000', '2018-07-04T00:00:00.000000000',
       '2018-07-05T00:00:00.000000000', '2018-06-11T00:00:00.000000000',
       '2018-06-15T00:00:00.000000000'], dtype='datetime64[ns]')

### County: Just changed Hudson to Hudson County

In [22]:
df.County.unique()

array(['Union County', 'Atlantic County', 'Bergen County',
       'Burlington County', 'Camden County', 'Cumberland County',
       'Cape May County', 'Essex County', 'Gloucester County',
       'Hudson County', 'Hunterdon County', 'Mercer County',
       'Middlesex County', 'Hudson', 'Monmouth County', 'Morris County',
       'Ocean County', 'Passaic County', 'State Police', 'Salem County',
       'Somerset County', 'Sussex County', 'Warren County'], dtype=object)

In [23]:
df.County = df.County.replace(to_replace='Hudson', value='Hudson County', regex=False)

In [24]:
df.County.unique()

array(['Union County', 'Atlantic County', 'Bergen County',
       'Burlington County', 'Camden County', 'Cumberland County',
       'Cape May County', 'Essex County', 'Gloucester County',
       'Hudson County', 'Hunterdon County', 'Mercer County',
       'Middlesex County', 'Monmouth County', 'Morris County',
       'Ocean County', 'Passaic County', 'State Police', 'Salem County',
       'Somerset County', 'Sussex County', 'Warren County'], dtype=object)

### Town

#### Harder to standardize: Needed to go through and change a bunch

In [25]:
df.Town.unique()

array(['Springfield', 'Union township', 'Roselle Park', 'Scotch Plains',
       'Summit', 'Brigantine Beach', 'Galloway', 'Egg Harbor City',
       'Buena Borough', 'Margate', 'Mullica', 'Egg Harbor Township',
       'Longport', 'Absecon', 'Hamilton', 'Linwood', 'Somers Point',
       'Alpine', 'Hammonton', 'Pleasantville', 'Northfield City',
       'Ventnor City', 'Bergenfield', 'Carlstadt NJ Scans 9-2017',
       'Cliffside Park', 'Allendale', 'Closter', 'Cresskill', 'Bogota',
       'East Rutherford', 'Elmwood Park', 'Englewood', 'Demarest',
       'Edgewater', 'Dumont', 'Emerson', 'Englewood Cliffs',
       'Franklin Lakes', 'Glen Rock', 'Fairlawn', 'Fairview', 'Fort Lee',
       'Harrington Park', 'Hasbrouck Heights', 'Haworth', 'Hillsdale',
       'Hackensack', 'Ho-Ho-Kus', 'Lodi', 'Leonia', 'Little Ferry',
       'Midland Park', 'Moonachie', 'Garfield', 'Lyndhurst', 'Mahwah',
       'Oakland', 'Maywood', 'North Arlington', 'Northvale', 'Norwood',
       'Montvale', 'Old Tappan', 'Oradell', 'New Milford',
       'Palisades Park', 'Paramus', 'Atlantic City', 'Ridgewood',
       'Ridgefield Park', 'Rutherford', 'Ramsey', 'Rochelle Park',
       'Saddle River', 'Park Ridge', 'Tenafly', 'River Vale', 'RIver Edge',
       'Upper Saddle River', 'Waldwick', 'Washington', 'Ridgefield',
       'Wallington', 'Wood-ridge', 'Saddle Brook', 'Woodcliff Lake',
       'South Hackensack', 'Delran', 'Teaneck', 'Delanco', 'Wyckoff',
       'Beverly', 'Bordentown Town', 'Bordentown', 'Burlington CIty',
       'Burlington Town', 'Chesterfield', 'Westwood', 'Cinnaminson',
       'Eastampton', 'Riverton', 'Moorestown', 'Evesham', 'Mansfield',
       'Edgewater Park', 'Florence', 'Lumberton', 'Medford', 'Maple Shade',
       'Palmyra', 'Medford Lakes', 'Mount Holly', 'Mount Laurel',
       'Audubon', 'Chesilhurst', 'Pemberton', 'Pemberton Boro',
       'North Hanover', 'Barrington', 'Westhampton', 'Riverside',
       'Bellmawr', 'Berlin Boro', 'Berlin township', 'Brooklawn',
       'Clementon', 'Collingswood', 'Haddon', 'Haddon Heights',
       'Willing Boro', 'Magnolia', 'PENNSAUKEN', 'Merchantville',
       'Haddonfield', 'Gibbsboro', 'Gloucester City', 'Cherry Hill',
       'Oaklyn', 'Millville', 'Lindenwold', 'Mount Ephraim', 'Pine Hill',
       'Somerdale', 'Stratford', 'Laurel Springs', 'Runnemede Boro',
       'Voorhees', 'Winslow', 'Stone Harbor Borough', 'Avalon',
       'Waterford', 'Lower Township', 'Cape May', 'North Wildwood',
       'Wildwood Crest', 'West Wildwood', 'Middle', 'Sea Isle City',
       'Wildwood', 'Ocean City', 'Vineland', 'Bridgeton City', 'Caldwell',
       'Belleville', 'Orange', 'Essex Fells', 'Cedar Grove', 'Glen Ridge',
       'Bloomfield', 'Fairfield NJ Scans 9-2017', 'East Orange',
       'Millburn', 'Roseland', 'Verona 2011-16', 'West Caldwell',
       'North Caldwell', 'Irvington', 'Clayton', 'Elk', 'Maplewood',
       'Nutley', 'South Orange', 'Greenwich', 'Deptford', 'Montclair',
       'West Orange', 'East Greenwich', 'Harrison Township',
       'Franklin Township', 'Mantua', 'Monroe', 'Newfield',
       'Logan Township', 'Pitman', 'Paulsboro', 'Wenonah',
       'South Harrison', 'Westville', 'Woodbury Heights', 'Glassboro',
       'Woolwich', 'East Newark', 'West Deptford', 'Woodbury',
       'Guttenberg', 'Bayonne', 'Harrison', 'Hoboken', 'Weehawken',
       'Kearny', 'North Bergen', 'Union City', 'Secaucus', 'West New York',
       'Califon', 'Clinton Township', 'West Amwell', 'Flemington',
       'Frenchtown', 'Raritan', 'High Bridge', 'Lambertville', 'Delaware',
       'Ewing', 'East Windsor', 'Hightstown', 'Town of Clinton', 'Lebanon',
       'Readington', 'Hopewell twp', 'Lawrence', 'Robbinsville',
       'Princeton', 'Pennington Boro', 'West Windsor', 'Carteret',
       'Cranbury', 'East Brunswick NJ Scans 9-2017', 'Dunellen',
       'Milltown', 'Trenton', 'Metuchen', 'Highland Park', 'Jamesburg',
       'Middlesex', 'North Brunswick', 'Edison', 'New Brunswick',
       'South Amboy', 'Old Bridge', 'Plainsboro', 'Helmetta', 'Piscataway',
       'Sayreville', 'South Plainfield', 'Secaucus 60', 'Perth Amboy',
       'South Brunswick', 'Spotswood', 'Aberdeen', 'South River',
       'Woodbridge', 'Freehold Boro', 'Asbury Park', 'Allenhurst',
       'Allentown', 'Avon-By-the-Sea', 'Belmar', 'Atlantic Highlands',
       'Brielle', 'Freehold', 'Bradley Beach', 'Fair Haven', 'Colts Neck',
       'Deal', 'Eatontown', 'Englishtown', 'Holmdel', 'Hazlett', 'Howell',
       'Highlands Boro', 'Keansburg', 'Keyport', 'Lake Como Boro',
       'Little Silver', 'Long Branch', 'Manalapan', 'Manasquan',
       'Marlboro', 'Middletown', 'Monmouth Beach', 'Matawan', 'Ocean Port',
       'Neptune City', 'Red Bank', 'Rumson', 'Ocean Township',
       'Sea Bright', 'Sea Girt', 'Spring Lake Boro', 'Tinton Falls',
       'Shrewsbury', 'Spring Lake Heights', 'Boonton Township',
       'Chester Twp', 'Union Beach', 'Wall', 'Denville',
       'West Long Branch', 'Chatham boro', 'Butler', 'Boonton town',
       'Chatham Twp', 'Dover', 'East Hanover', 'Kinnelon', 'Harding',
       'Hanover', 'Lincoln Park', 'Florham Park', 'Jefferson', 'Long Hill',
       'Mendham twp', 'Montville', 'Mendham Boro', 'Morris Township',
       'Mount Arlington', 'Morris Plains Boro', 'Netcong',
       'Mountain Lakes', 'Morristown', 'Madison', 'Mount Olive',
       'Pequannock', 'Randolph', 'Parsippany', 'Rockaway Boro',
       'Rockaway Twp', 'Riverdale', 'Lakehurst', 'Wharton', 'Berkeley',
       'Beachwood', 'Barnegat', 'Beach Haven', 'Roxbury', 'Bay Head',
       'Lakewood', 'Brick', 'Harvey Cedars', 'Lacey', 'Lavallette',
       'Island Heights', 'Long Beach Township', 'Little Egg Harbor',
       'Point Pleasant', 'Manchester', 'Mantoloking', 'Ocean Gate',
       'Pine Beach', 'Plumstead', 'Point Pleasant Beach',
       'Seaside Heights', 'South Toms River', 'Jackson', 'Seaside Park',
       'Ship Bottom', 'Surf City', 'Toms River', 'Stafford', 'Hawthorne',
       'Bloomingdale', 'Tuckerton', 'Little Falls', 'NJSP', 'Ringwood',
       'Prospect Park', 'Passaic', 'North Haledon', 'Haledon', 'Wayne',
       'Pompton Lakes', 'Wanaque', 'Woodland Park', 'West Milford',
       'LOWER ALLOWAYS CREEK', 'Totowa', 'Pennsville', 'Carney_s Point',
       'Salem City', 'Penns Grove', 'Woodstown', 'Greenbrook', 'Bernards',
       'Bound Brook', 'Bedminster', 'Branchburg', 'Bernardsville',
       'Far Hills', 'Bridgewater', 'Franklin', 'Manville', 'Hillsborough',
       'Montgomery', 'North Plainfield', 'South Boundbrook',
       'Peapack gladstone', 'Warren Township', 'Watchung', 'Vernon',
       'Somerville', 'Andover Township', 'Franklin Boro', 'Hopatcong',
       'Byram', 'Hamburg', 'Newton', 'Hardyston', 'Sparta', 'Ogdensburg',
       'Stanhope', 'Linden', 'Berkely Heights', 'Clark', 'Cranford',
       'Kenilworth', 'Mountainside', 'Fanwood', 'Garwood',
       'New Providence', 'Hillside', 'Plainfield', 'Roselle',
       'Neptune Township', 'Gloucester', 'Clifton', 'Elizabeth',
       'Jersey City', 'Paterson', 'Newark', 'Camden', 'Livingston',
       'Rahway', 'Westfield', 'Winfield', 'Belvidere', 'Blairstown',
       'Hackettstown', 'Independence', 'Lopatcong',
       'Phillipsburg NJ Scans 9-2017', 'Pohatcong', 'Washington Township'], dtype=object)

In [26]:
df.Town = df.Town.replace(to_replace='Carlstadt NJ Scans 9-2017', value='Carlstadt')
df.Town = df.Town.replace(to_replace='RIver Edge', value='River Edge')
df.Town = df.Town.replace(to_replace='PENNSAUKEN', value='Pennsauken')
df.Town = df.Town.replace(to_replace='Fairfield NJ Scans 9-2017', value='Fairfield')
df.Town = df.Town.replace(to_replace='Verona 2011-16', value='Verona')
df.Town = df.Town.replace(to_replace='East Brunswick NJ Scans 9-2017', value='East Brunswick')
df.Town = df.Town.replace(to_replace='Secaucus 60', value='Secaucus')
df.Town = df.Town.replace(to_replace='LOWER ALLOWAYS CREEK', value='Lower Alloways Creek')
df.Town = df.Town.replace(to_replace='Phillipsburg NJ Scans 9-2017', value='Phillipsburg')

#### Created unique Town and county combined column for prevention of duplicated town names

In [27]:
df['Town_county'] = df.Town + ', ' + df.County

print "Number of unique towns: ", len(df.Town_county.unique())

Number of unique towns:  461

### Case report no

Left mostly uninhibited, but I had to change a couple due to Excel fuckery

In [28]:
pd.DataFrame(df.Case_report_no.unique())

                   0
0      I-2012-002796
1      I-2012-009250
2      I-2013-000011
3      I-2013-004131
4             30-Dec
5         2012-03273
6             12-176
7            12-1558
8           13-34786
9           13-36009
10     I-2013-005300
11      I-2012-22608
12          13-36007
13            13-759
14       2012-003273
15             8-Dec
16          14-00703
17      I-2012-22455
18            13-767
19          14-02067
20            Dec-66
21            13-826
22            Dec-99
23          12-11742
24          12-13894
25          14-02818
26      I-2012-20605
27      I-2012-18913
28          14-02974
29      I-2012-18510
...              ...
41419      16-114748
41420      16-114874
41421      16-114973
41422      16-116034
41423      16-116675
41424      16-117198
41425      16-117307
41426      16-117831
41427      16-118249
41428      16-118343
41429      16-119489
41430      16-119566
41431     16-120125A
41432      16-120445
41433      16-121101
41434      16-121280
41435      16-045452
41436      16-040091
41437      16-040432
41438      16-042203
41439      16-042845
41440      16-044263
41441      16-044458
41442      16-044756
41443     16-045727A
41444      16-046250
41445      16-046904
41446      16-048146
41447      16-048375
41448      16-048761

[41449 rows x 1 columns]

#### Located places where Excel had added a date, then changed those back to number format

In [29]:
df.loc[df.Case_report_no.str.contains('Feb'), 'Case_report_no'] = "2-" + df[df.Case_report_no.str.contains('Feb')]['Case_report_no'].str.split('-', expand=True)[1]

df.loc[df.Case_report_no.str.contains('Nov'), 'Case_report_no'] = "11-" + df[df.Case_report_no.str.contains('Nov')]['Case_report_no'].str.split('-', expand=True)[1]

df.loc[df.Case_report_no.str.contains('Dec-'), 'Case_report_no'] = "12-" + df[df.Case_report_no.str.contains('Dec-')]['Case_report_no'].str.split('-', expand=True)[1]

df.loc[df.Case_report_no.str.contains('-Dec'), 'Case_report_no'] = "12-" + df[df.Case_report_no.str.contains('-Dec')]['Case_report_no'].str.split('-', expand=True)[0]

In [30]:
df.Case_report_no = df.Case_report_no.str.upper()

### Incident date / Time

####  Changed to datetime, but ignored errors for now because there were about 832 of them

In [31]:
df.Incident_date.unique()

array(['4/14/12', '10/2/12', '1/1/13', ..., '05/23/2016', '05/25/2016',
       '05/28/2016'], dtype=object)

Note: Should I change "XX" to 01?

In [32]:
 df.Incident_date.count()

72485

In [33]:
df[df.Incident_date.str.contains('XX')].Incident_date.count()

633

In [34]:
df.Incident_date = pd.to_datetime(df.Incident_date, errors='ignore')

#### Incident time -- again ignored errors (mostly blank and illegible)

In [35]:
df.Incident_time.count()

72485

In [36]:
print "Number of blank or illegible values: ", df[df.Incident_time == 'BLANK']['Incident_time'].count() + df[df.Incident_time == 'ILLEGIBLE']['Incident_time'].count()

Number of blank or illegible values:  937

In [37]:
df.Incident_time = pd.to_datetime(df.Incident_time, errors='ignore', format="%H:%M")

### Incident type

#### Reducing the amount of repetition by changing everything to same capitalization

In [38]:
df.Incident_type = df.Incident_type.str.title()

In [39]:
df.Incident_type.value_counts()

Crime In Progress                                                                                           14231
Domestic                                                                                                     7552
Other Dispute                                                                                                5810
Suspicious Person                                                                                            5419
Traffic Stop                                                                                                 3976
Other: Nothing                                                                                               2203
Traffic Violation                                                                                             870
On View Arrest                                                                                                670
Crime In Progress, Domestic                                                                                   642
Crime In Progress, Suspicious Person                                                                          496
Other: Disorderly Conduct                                                                                     388
Other: Disorderly Person                                                                                      362
Other: Redacted                                                                                               334
Other: Warrant Arrest                                                                                         300
Crime In Progress, Traffic Stop                                                                               287
Other: Emotionally Disturbed Person                                                                           274
Other: Edp                                                                                                    268
Domestic Incident                                                                                             245
Other: Disorderly                                                                                             188
Mental Health                                                                                                 182
Other: Injured Deer                                                                                           179
Other Type Of Call: Disorderly                                                                                179
Crime In Progress, Other Dispute                                                                              175
Domestic Violence                                                                                             160
Other: Fight                                                                                                  155
Drunk Driver                                                                                                  149
Other: Warrant Service                                                                                        143
Other Type Of Call: Fight                                                                                     140
Other Type Of Call: Disorderly Person                                                                         136
Other Type Of Call: Edp                                                                                       136
                                                                                                            ...
Other Type Of Call: Endangered Subject                                                                          1
Other: D.U.I / Eluding                                                                                          1
Other: Report Of A Male Party Starting A Fight                                                                  1
Other: Disorderly Person/ Intoxicated                                                                           1
Suspicious Person, Other: Disorderly Male                                                                       1
Other: Mv Accident, D.W.I                                                                                       1
Other: Execution Of Search Warrant At 220-70Th St, Guttenberg, Nj                                               1
Domestic Violence, Other: Fight                                                                                 1
Other: Physically Resisted During Processing For Dwi                                                            1
Other Type Of Call: Suspicious Occupied                                                                         1
Other: Disorderly Conduct/ Riot                                                                                 1
Other: Physical Attack On P.O                                                                                   1
Other Type Of Call: Cds/Shoplifting                                                                             1
Other: Disorderly Female Highly Intoxicated                                                                     1
Other: Custody Hold For Pending Criminal Charges                                                                1
Crime In Progress, Other: Shooting Scene                                                                        1
Other: Aggregation Towards Officers                                                                             1
Other: Booking Prisoner Physical Control Of Prisoner                                                            1
Other Type Of Call: Poss. Of Cds                                                                                1
Other: Ran From Police After Being Told To Stop                                                                 1
Other Type Of Call: Medical Transport                                                                           1
Other Type Of Call: Armed Suicidal Male                                                                         1
Other Type Of Call: Theft Of Purse And                                                                          1
Other: Suspicious Person/ Bicycle Violation                                                                     1
Other Type Of Call: Hindering                                                                                   1
Other Type Of Call: Wanted Subject                                                                              1
Other: Possession Of Schedule Iii And Iv Narcotics, Drug Paraphernalia, Possession Of Hypodermic Needles        1
Other: While Investigating Disorderly Persons                                                                   1
Other: Already In Custody For Warrant / Assault On Intake Off                                                   1
Other: Disorderly Person, Agg Assault, Terroristic, Threats, Resisting Arrest                                   1
Name: Incident_type, dtype: int64

In [40]:
print "Number of initial unique values(including commas): ", len(df.Incident_type.unique())

Number of initial unique values(including commas):  11117

In [41]:
itype = pd.DataFrame(df.Incident_type.str.split(', ', expand=True))

it_agg = itype[0].append(itype[1]).append(itype[2]).append(itype[3]).append(itype[4]).append(itype[5]).append(itype[6]).reset_index(drop=True)

it_agg = pd.DataFrame(it_agg)[0].value_counts()

In [42]:
print "Number of unique values(ignoring commas): ", it_agg.count()

Number of unique values(ignoring commas):  9952

In [43]:
# pd.DataFrame(df.Incident_type.value_counts()).to_csv('Incident_type_check.csv')

<a id='officer_information'></a>

## Part 2 -- Officer information

[Back to the top](#table_of_contents)

### Officer names

#### Converting to proper case

In [44]:
df.Officer_1_first = df.Officer_1_first.str.title()
df.Officer_1_last = df.Officer_1_last.str.title()
df.Officer_2_first = df.Officer_2_first.str.title()
df.Officer_2_last = df.Officer_2_last.str.title()
df.Officer_3_first = df.Officer_3_first.str.title()
df.Officer_3_last = df.Officer_3_last.str.title()

In [45]:
print "Number of unique values for first Officer's name: ", len(df.Officer_1_first.unique())

Number of unique values for first Officer's name:  5336

### Officer rank

In [46]:
df.Officer_1_rank = df.Officer_1_rank.str.upper()
df.Officer_2_rank = df.Officer_2_rank.str.upper()
df.Officer_3_rank = df.Officer_3_rank.str.upper()

#### Initially lots of dirty data: Had to convert to csv and manually translate

In [47]:
df.Officer_1_rank.value_counts()

PATROLMAN                    17361
BLANK                         9469
PO                            7614
POLICE OFFICER                6552
PTL                           5525
OFFICER                       4794
SERGEANT                      3338
SGT                           2980
DETECTIVE                     1792
PTLM                          1740
TPR                           1118
P.O                           1072
PATROL OFFICER                1032
DET                            995
PATROL                         925
SLEO II                        615
OFC                            524
LIEUTENANT                     457
LT                             431
P.O.                           419
CORPORAL                       401
CPL                            310
SG                             270
SLEO                           126
CLASS II                       124
S.O                            121
DSG                             97
SLEO 2                          97
OFF                             85
CAPTAIN                         85
                             ...
SPECIAL II POLICE OFFICER        1
OIC / PTL                        1
PATROLMAN, MPO II                1
DETECTIVE/SGT                    1
AUXILIARY, APO                   1
DET / SGT                        1
PTL 4TH CLASS                    1
TRAINER                          1
AUXILIARY                        1
DETECTIVE/OFFICER                1
PATROL/POLICE OFFICER            1
PATROLMAN, K-9                   1
I/DET                            1
ACTING SERG                      1
S.C.O                            1
LT.                              1
BLK                              1
CLASS I JAIL OFFICER             1
RES. P/O                         1
K-9 DETECTIVE                    1
A/SERGEANT                       1
SR. SLEO II                      1
SPEC OFFICER II                  1
SO III                           1
PO/DET                           1
A/DSGT                           1
DETECTIVE SGT                    1
D / SGT                          1
PTL/ICA                          1
PATROLMAN 5TH CLASS              1
Name: Officer_1_rank, dtype: int64

In [48]:
# pd.DataFrame(df.Officer_1_rank.value_counts()).to_csv('officer_rank_check.csv')

#### Read in new csv with standardized values

In [49]:
rank = pd.read_csv('Officer_rank_dict.csv', index_col='Input', dtype={'Input':str})

In [50]:
rank.head()

                Officer_1_rank Standard_name General_name
Input
PATROLMAN                26583       OFFICER         Ofc.
POLICE OFFICER           15657       OFFICER         Ofc.
BLANK                     9469         BLANK          NaN
SERGEANT                  6318      SERGEANT         Sgt.
OFFICER                   4794       OFFICER         Ofc.

#### Created a dictionary from the standardized values and mapped it to the original data

In [51]:
standard_rank = rank['Standard_name'].to_dict()
gen_rank = rank['General_name'].to_dict()

In [52]:
df.Officer_1_rank = df.Officer_1_rank.map(standard_rank)
df['Officer_1_genrank'] = df.Officer_1_rank.map(gen_rank)

In [53]:
df.Officer_2_rank = df.Officer_2_rank.map(standard_rank)
df['Officer_2_genrank'] = df.Officer_2_rank.map(gen_rank)
df.Officer_3_rank = df.Officer_3_rank.map(standard_rank)
df['Officer_3_genrank'] = df.Officer_3_rank.map(gen_rank)

#### Data is now simplified

In [54]:
df.Officer_1_rank.value_counts()

OFFICER                 30675
BLANK                    9470
SERGEANT                 3759
DETECTIVE                2087
TROOPER                  1126
SLEO II                  1089
SLEO                      591
LIEUTENANT                472
CORPORAL                  406
DETECTIVE SERGEANT        215
CAPTAIN                   111
SLEO I                     93
K9 OFFICER                 80
ILLEGIBLE                  60
MASTER OFFICER             56
ND                         50
PRIVATE FIRST CLASS        44
CHIEF                      40
DETECTIVE LIEUTENANT       28
DEPUTY CHIEF                9
AUX OFFICER                 4
SLEO III                    3
POLICE AIDE                 2
CIVILIAN                    2
ACTING DEPUTY CHIEF         1
SCHOOL OFFICER              1
Name: Officer_1_rank, dtype: int64

### Officer experience

In [55]:
# pd.DataFrame(df.Officer_1_exp.value_counts()).to_csv('Officer_experience_check.csv')

In [56]:
df.Officer_1_exp.value_counts()

1              4933
2              3191
3              2826
8              2671
7              2606
5              2562
10             2517
6              2317
9              2287
4              2142
12             2097
13             1853
11             1846
15             1627
14             1582
16             1224
17             1061
18              986
20              800
19              799
21              519
23              487
22              486
1.5             464
2.5             388
24              388
25              272
4.5             238
3.5             215
7.5             208
               ...
3+ Months         1
23 Months         1
Under 1           1
26 Months         1
Less Than 1       1
21.2              1
24.1              1
15.25             1
Appx 10           1
36 Months         1
25, 27 Days       1
3 weeks           1
28.3              1
22.9              1
22.8              1
22.4              1
22.7              1
22.3              1
24.3              1
0.7               1
24.4              1
14.2              1
24.9              1
14.1              1
26.3              1
26.2              1
26.4              1
26.7              1
26.9              1
2.5 Months        1
Name: Officer_1_exp, dtype: int64

#### Took out some unnecessary punctuation and words

In [57]:
df.Officer_1_exp = df.Officer_1_exp.replace(to_replace=['\+', 'Approx ', 'Approx. ','Approx, ',
                                                       '3 Summer Seasons','>',' (Edison)', '3rd Summer',
                                                       'Appx ','Apprx ','Aprx '], value="", regex=True)

#### Test of how much lost from trying to convert to numerical

I.e. How many still have non-numerical characters in them?

In [58]:
df.Officer_1_exp.count()

50508

In [59]:
df.Officer_1_exp = pd.to_numeric(df.Officer_1_exp, errors='coerce')

In [60]:
df.Officer_1_exp.count()

49247

### Officer sex : Everything looks pretty clean! :)

In [61]:
df.Officer_1_sex.value_counts()

Male          51160
Not listed    19027
Female         2294
ILLEGIBLE         4
Name: Officer_1_sex, dtype: int64

In [62]:
df.Officer_2_sex.value_counts()

Not listed    12548
Male            257
Female           39
Name: Officer_2_sex, dtype: int64

In [63]:
df.Officer_3_sex.value_counts()

Not listed    12756
Male             80
Female            8
Name: Officer_3_sex, dtype: int64

### Badge no

Basically just capitalized it

In [64]:
len(df.Officer_1_badge_no.unique())

6310

In [65]:
df.Officer_1_badge_no = df.Officer_1_badge_no.str.upper()
df.Officer_2_badge_no = df.Officer_2_badge_no.str.upper()
df.Supervisor_badge_no = df.Supervisor_badge_no.str.upper()

<a id='race'></a>

## Race: Did officer and subject combined

[Back to the top](#table_of_contents)

#### Standard capitalization

In [66]:
df.Officer_1_race = df.Officer_1_race.str.upper()
df.Officer_2_race = df.Officer_2_race.str.upper()
df.Officer_3_race = df.Officer_3_race.str.upper()

df.Subject_1_race = df.Subject_1_race.str.upper()
df.Subject_2_race = df.Subject_2_race.str.upper()
df.Subject_3_race = df.Subject_3_race.str.upper()

#### Still many, many dirty values

In [67]:
df.Officer_1_race.value_counts()

W                            21919
WHITE                        15165
CAUC                          2577
BLACK                         2216
HISP                          1397
B                             1306
WHT                           1282
HISPANIC                       911
H                              899
BLK                            761
WT                             697
1                              421
C                              393
ASIAN                          332
CAU                            318
CAUCASIAN                      267
WH                             234
WHITE-HISPANIC                 211
A                              188
WHITE HISPANIC                 171
W-WHITE                        146
HIS                            119
W/H                             90
ASIAN OR PACIFIC ISLANDER       67
OTHER                           41
BLACK HISPANIC                  40
BLACK OR AFRICAN AMERICAN       39
BK                              35
2                               30
UNKNOWN                         29
                             ...
B/HISP                           1
A.AMERICAN                       1
PO                               1
MIDDLE EASTERN                   1
N                                1
ASAIN                            1
CAUCASIA                         1
P                                1
LIEUTENANT                       1
WHITE, HISPANIC                  1
6                                1
U                                1
W/HIS                            1
5                                1
AFRO-AM                          1
MALE                             1
PT                               1
PATROLMAN                        1
PR                               1
HIPS                             1
5-JAN                            1
A/PI                             1
BIN                              1
B/NH                             1
WHT/H                            1
SERGEANT                         1
WHT/A.S                          1
WAT                              1
HISP/BLACK                       1
BLACK/HISP                       1
Name: Officer_1_race, dtype: int64

### Race codes:
1. white
2. black
3. american indian/alaskan native
4. asian/pacific islander

### Ethnicity:      
A. of hispanic origin     
B. not of hispanic origin

#### Created a list of all unique racial values

In [68]:
# Retrieve unique values for race in officer categories
off_race = pd.concat([pd.DataFrame(df.Officer_1_race.value_counts()),
                       pd.DataFrame(df.Officer_2_race.value_counts()),
                       pd.DataFrame(df.Officer_3_race.value_counts())
                    ])

#same with Subject
subj_race = pd.concat([pd.DataFrame(df.Subject_1_race.value_counts()),
                       pd.DataFrame(df.Subject_2_race.value_counts()),
                       pd.DataFrame(df.Subject_3_race.value_counts())
                    ])

#Combined both into single DF of all race values
comb_race = pd.concat([subj_race, off_race])

# Exported it to csv to put into separate Google sheets document
# pd.DataFrame(comb_race.index.value_counts()).to_csv('Race_values.csv')

To create the standardized racial categories, we put all unique race values into a Google spreadsheet and allowed 
for everyone on the team to edit it. We discussed edge cases and created specific standardized codes, as well as separate codes for when the value indicated both race and ethnicity.

#### Read in the results

In [69]:
race_cat = pd.read_csv('https://docs.google.com/spreadsheets/d/1fG0Ehp1hG_I8KIp9KTtCG88XOxBCXtpiEStJg4H1hLE/export?format=csv', index_col='Input', dtype={'Input':str})

In [70]:
race_cat

,Standardized_race,Separate_race,Separate_eth
Input,,,
W,WHITE,NaN,NaN
H,HISPANIC,NaN,NaN
B,BLACK,NaN,NaN
HISP,HISPANIC,NaN,NaN
BLK,BLACK,NaN,NaN
WHITE,WHITE,NaN,NaN
BLACK,BLACK,NaN,NaN
HIS,HISPANIC,NaN,NaN
WHITE-HISPANIC,HISPANIC,WHITE,HISPANIC
HISPANIC,HISPANIC,NaN,NaN
WHT,WHITE,NaN,NaN
AA,BLACK,NaN,NaN
U,ND,NaN,NaN
BLACK-HISPANIC,HISPANIC,BLACK,HISPANIC
WT,WHITE,NaN,NaN
W/H,HISPANIC,WHITE,HISPANIC
CAU,WHITE,NaN,NaN
C,WHITE,NaN,NaN
BLACK HISPANIC,HISPANIC,BLACK,HISPANIC
5,ND,NaN,NaN
WHITE HISPANIC,HISPANIC,WHITE,HISPANIC
1,WHITE,NaN,NaN
ASIAN,ASIAN,NaN,NaN
2,BLACK,NaN,NaN
REDACTED,REDACTED,NaN,NaN
UNKNOWN,ND,NaN,NaN
BLACK OR AFRICAN AMERICAN,BLACK,NaN,NaN
1B,WHITE,NaN,NaN
CAUC,WHITE,NaN,NaN
1A,HISPANIC,WHITE,HISPANIC
...,...,...,...
B/K,BLACK,NaN,NaN
ASIA,ASIAN,NaN,NaN
P-NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER,PACIFIC ISLANDER,NaN,NaN
W/F,WHITE,NaN,NaN
ITALIAN,ND,NaN,NaN
ASIAN/INDIAN,ASIAN,NaN,NaN
H/W,HISPANIC,WHITE,HISPANIC
ASAIN,ASIAN,NaN,NaN
MULTI,MIXED,NaN,NaN
PAC ISL,PACIFIC ISLANDER,NaN,NaN
ILLEGIBLE/HISP,HISPANIC,NaN,NaN
ME,ND,NaN,NaN
BALCK,BLACK,NaN,NaN
WHITE/ HISP,HISPANIC,WHITE,HISPANIC
IND,ND,NaN,NaN
HISP/WHT,HISPANIC,WHITE,HISPANIC
OTHER-HISPANIC,HISPANIC,NaN,NaN
W / HISP,HISPANIC,WHITE,HISPANIC
2-Jan,ND,NaN,NaN
"WHITE, HISPANIC",HISPANIC,WHITE,HISPANIC
HLS,ND,NaN,NaN
AMER,ND,NaN,NaN
W N/H,WHITE,WHITE,NONHISPANIC
AFRICAN/ AMERICAN,BLACK,NaN,NaN
WHITE/ASIAN,MIXED,NaN,NaN
H/B,HISPANIC,BLACK,HISPANIC
WHIS,HISPANIC,WHITE,HISPANIC
ASIAN/PACIFIC,ASIAN/PACIFIC ISLANDER,NaN,NaN
BLA,BLACK,NaN,NaN
ORIENTAL/PACIFIC ISLANDER,ASIAN/PACIFIC ISLANDER,NaN,NaN

Created a python dictionary to turn codes into the standardized and separate racial and ethnic cat

In [71]:
standard_race = race_cat.Standardized_race.to_dict()
sep_race = race_cat.Separate_race.to_dict()
sep_eth = race_cat.Separate_eth.to_dict()

In [72]:
standard_race

{nan: nan,
 '1': 'WHITE',
 '1(H)': 'HISPANIC',
 '1/H': 'HISPANIC',
 '1A': 'HISPANIC',
 '1B': 'WHITE',
 '1H': 'HISPANIC',
 '2': 'BLACK',
 '2-Jan': 'ND',
 '2/H': 'HISPANIC',
 '2A': 'HISPANIC',
 '2B': 'BLACK',
 '2H': 'HISPANIC',
 '3': 'NATIVE AMERICAN',
 '3B': 'NATIVE AMERICAN',
 '3K': 'ND',
 '4': 'ASIAN/PACIFIC ISLANDER',
 '4A': 'ASIAN',
 '4B': 'ASIAN/PACIFIC ISLANDER',
 '5': 'ND',
 '5-Jan': 'ND',
 '6': 'ND',
 '8': 'ND',
 'A': 'ASIAN',
 'A+AM': 'BLACK',
 'A-ASIAN': 'ASIAN',
 'A.A': 'BLACK',
 'A.AMERICAN': 'BLACK',
 'A/A': 'BLACK',
 'A/I': 'ND',
 'A/PI': 'ASIAN/PACIFIC ISLANDER',
 'AA': 'BLACK',
 'AF-AM': 'BLACK',
 'AF. AM': 'BLACK',
 'AFAM': 'BLACK',
 'AFRICAN': 'BLACK',
 'AFRICAN AMERICAN': 'BLACK',
 'AFRICAN ILLEGIBLE': 'BLACK',
 'AFRICAN/ AMERICAN': 'BLACK',
 'AFRO': 'BLACK',
 'AFRO AM': 'BLACK',
 'AFRO AMERICAN': 'BLACK',
 'AFRO-AM': 'BLACK',
 'AFRO-AMER': 'BLACK',
 'AFT-AME': 'BLACK',
 'AI': 'ND',
 'AI/AN': 'NATIVE AMERICAN',
 'AIS': 'ASIAN',
 'AISP': 'ND',
 'AL': 'ND',
 'AMER': 'ND',
 'AMER INDIAN/ALASKAN': 'NATIVE AMERICAN',
 'AMER/AK IND': 'NATIVE AMERICAN',
 'AMERICAN INDIAN': 'NATIVE AMERICAN',
 'ARAB': 'OTHER',
 'ARABIC': 'OTHER',
 'AS': 'ASIAN',
 'ASAIA': 'ASIAN',
 'ASAIN': 'ASIAN',
 'ASAIN / PACIFIC': 'ASIAN/PACIFIC ISLANDER',
 'ASIA': 'ASIAN',
 'ASIAN': 'ASIAN',
 'ASIAN / PACIFIC ISLNDR': 'ASIAN/PACIFIC ISLANDER',
 'ASIAN OR PACIFIC': 'ASIAN/PACIFIC ISLANDER',
 'ASIAN OR PACIFIC ISLANDER': 'ASIAN/PACIFIC ISLANDER',
 'ASIAN PACIFIC': 'ASIAN',
 'ASIAN PACIFIC/JC': 'ASIAN/PACIFIC ISLANDER',
 'ASIAN, INDIAN': 'ASIAN',
 'ASIAN/ IND': 'ASIAN',
 'ASIAN/ PACIFIC ISLNDR': 'ASIAN/PACIFIC ISLANDER',
 'ASIAN/INDIAN': 'ASIAN',
 'ASIAN/PACIFIC': 'ASIAN/PACIFIC ISLANDER',
 'ASIAN/PACIFIC IS': 'ASIAN/PACIFIC ISLANDER',
 'ASIAN/PACIFIC ISLANDER': 'ASIAN/PACIFIC ISLANDER',
 'ASIAN/PACIFIC ISLNDR': 'ASIAN/PACIFIC ISLANDER',
 'ASISAN': 'ASIAN',
 'ASN': 'ASIAN',
 'B': 'BLACK',
 'B-BLACK OR AFRICAN AMERICAN': 'BLACK',
 'B.H': 'HISPANIC',
 'B/A': 'ND',
 'B/H': 'HISPANIC',
 'B/HISP': 'HISPANIC',
 'B/K': 'BLACK',
 'B/N': 'BLACK',
 'B/NH': 'BLACK',
 'B/W': 'MIXED',
 'B/W/H': 'MIXED',
 'BALCK': 'BLACK',
 'BH': 'HISPANIC',
 'BIN': 'ND',
 'BK': 'BLACK',
 'BK/ HIS': 'HISPANIC',
 'BL': 'BLACK',
 'BLA': 'BLACK',
 'BLAC': 'BLACK',
 'BLACK': 'BLACK',
 'BLACK AND AFRICAN AMERICAN': 'BLACK',
 'BLACK HISPAN': 'HISPANIC',
 'BLACK HISPANIC': 'HISPANIC',
 'BLACK OR AFRICAN AMERICAN': 'BLACK',
 'BLACK-HISPANIC': 'HISPANIC',
 'BLACK-N/HISP': 'BLACK',
 'BLACK/AA': 'BLACK',
 'BLACK/HISP': 'HISPANIC',
 'BLACK/WHITE': 'MIXED',
 'BLCK': 'BLACK',
 'BLK': 'BLACK',
 'BLK/HIS': 'HISPANIC',
 'BLK/HISP': 'HISPANIC',
 'BLK/ILLEGIBLE': 'BLACK',
 'BLOCK': 'BLACK',
 'BNH': 'BLACK',
 'BRAZIL': 'ND',
 'BRAZILIAN': 'ND',
 'C': 'WHITE',
 'C/H': 'HISPANIC',
 'CA': 'WHITE',
 'CAC': 'WHITE',
 'CAU': 'WHITE',
 'CAUC': 'WHITE',
 'CAUC/HISP': 'HISPANIC',
 'CAUCASIA': 'WHITE',
 'CAUCASIAN': 'WHITE',
 'CAUCASIO': 'WHITE',
 'CAUS': 'WHITE',
 'DEER': 'DEER',
 'E': 'ND',
 'ECU': 'ND',
 'ECUADOR': 'ND',
 'EGYPT': 'ND',
 'EGYPTIAN': 'ND',
 'F': 'ND',
 'H': 'HISPANIC',
 'H W': 'HISPANIC',
 'H-HISPANIC': 'HISPANIC',
 'H.S': 'HISPANIC',
 'H/ W': 'HISPANIC',
 'H/ WHITE': 'HISPANIC',
 'H/B': 'HISPANIC',
 'H/M': 'ND',
 'H/W': 'HISPANIC',
 'HAT': 'ND',
 'HI': 'HISPANIC',
 'HINDU': 'ASIAN',
 'HIPANI': 'HISPANIC',
 'HIPS': 'HISPANIC',
 'HIS': 'HISPANIC',
 'HIS, WHT': 'HISPANIC',
 'HIS/B': 'HISPANIC',
 'HIS/W': 'HISPANIC',
 'HIS/WHT': 'HISPANIC',
 'HISC': 'HISPANIC',
 'HISP': 'HISPANIC',
 'HISP-WHT': 'HISPANIC',
 'HISP/BLACK': 'HISPANIC',
 'HISP/BLK': 'HISPANIC',
 'HISP/W': 'HISPANIC',
 'HISP/WHT': 'HISPANIC',
 'HISPA': 'HISPANIC',
 'HISPAN': 'HISPANIC',
 'HISPANI': 'HISPANIC',
 'HISPANIC': 'HISPANIC',
 'HISPANIC WHITE': 'HISPANIC',
 'HISPANIC-WHITE': 'HISPANIC',
 'HISPANIC/WHITE': 'HISPANIC',
 'HLS': 'ND',
 'HN': 'HISPANIC',
 'HSP': 'HISPANIC',
 'HW': 'HISPANIC',
 'I': 'ND',
 'ILLEGIBLE': 'ILLEGIBLE',
 'ILLEGIBLE/HISP': 'HISPANIC',
 'IND': 'ND',
 'INDIAN': 'ND',
 'ITALIAN': 'ND',
 'K-9': 'ND',
 'L': 'HISPANIC',
 'L/W': 'HISPANIC',
 'LATIN': 'HISPANIC',
 'LATINO': 'HISPANIC',
 'LIEUTENANT': 'ND',
 'M': 'ND',
 'M EAST': 'OTHER',
 'MALE': 'ND',
 'ME': 'ND',
 'MEX': 'ND',
 'MID EAST': 'OTHER',
 'MIDDLE EASTERN': 'OTHER',
 'MIX': 'MIXED',
 'MIXED': 'MIXED',
 'MULTI': 'MIXED',
 'N': 'ND',
 'NAT': 'NATIVE AMERICAN',
 'NAT. AMER': 'NATIVE AMERICAN',
 'NAT.AMER': 'NATIVE AMERICAN',
 'NATIVE AMERICAN/ASIAN': 'MIXED',
 'NEG': 'ND',
 'NON-HISPANIC-W': 'WHITE',
 'NOT LISTED': 'ND',
 'O': 'ND',
 'OFFICER': 'ND',
 'ORIENTAL/PACIFIC ISLANDER': 'ASIAN/PACIFIC ISLANDER',
 'OTHER': 'OTHER',
 'OTHER HISPANIC': 'HISPANIC',
 'OTHER-HISPANIC': 'HISPANIC',
 'P': 'ND',
 'P-NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER': 'PACIFIC ISLANDER',
 'PA': 'ND',
 'PAC ISL': 'PACIFIC ISLANDER',
 'PACIFIC ISLANDER': 'PACIFIC ISLANDER',
 'PACIFIC/ASIAN': 'ASIAN/PACIFIC ISLANDER',
 'PATROLMAN': 'ND',
 'PO': 'ND',
 'PORTUGUESE': 'ND',
 'PR': 'ND',
 'PT': 'ND',
 'PTL': 'ND',
 'PUERTO RICAN': 'ND',
 'Q': 'ND',
 'R': 'ND',
 'REDACTED': 'REDACTED',
 'S': 'ND',
 'SERGEANT': 'ND',
 'SOUTH ASIAN': 'ASIAN',
 'SP': 'HISPANIC',
 'SPANIS': 'HISPANIC',
 'SPN': 'HISPANIC',
 'SPN/BLK': 'HISPANIC',
 'TURK': 'ND',
 'U': 'ND',
 'UNK': 'UNKNOWN',
 'UNKNOWN': 'ND',
 'W': 'WHITE',
 'W (H)': 'HISPANIC',
 'W (HISP)': 'HISPANIC',
 'W / HISP': 'HISPANIC',
 'W HISP': 'HISPANIC',
 'W N/H': 'WHITE',
 'W W/H': 'HISPANIC',
 'W(H)': 'HISPANIC',
 'W, HISP': 'HISPANIC',
 'W-H': 'HISPANIC',
 'W-HIS': 'HISPANIC',
 'W-HISP': 'HISPANIC',
 'W-NOT HISP': 'WHITE',
 'W-WHITE': 'WHITE',
 'W.H': 'HISPANIC',
 'W/ HISP': 'HISPANIC',
 'W/A': 'ND',
 'W/B': 'MIXED',
 'W/F': 'WHITE',
 'W/H': 'HISPANIC',
 'W/H HISP': 'HISPANIC',
 'W/HIS': 'HISPANIC',
 'W/HISP': 'HISPANIC',
 'W/M': 'WHITE',
 'W/N': 'WHITE',
 'W/NH': 'WHITE',
 'WAT': 'ND',
 'WH': 'WHITE',
 'WH-HISP': 'HISPANIC',
 'WH/H': 'HISPANIC',
 'WHI': 'HISPANIC',
 'WHIS': 'HISPANIC',
 'WHIT': 'WHITE',
 'WHITE': 'WHITE',
 'WHITE - NOT HISP.': 'WHITE',
 'WHITE / HISP.': 'HISPANIC',
 'WHITE / NOT HISP': 'WHITE',
 'WHITE / NOT HISP.': 'WHITE',
 'WHITE HISP': 'HISPANIC',
 'WHITE HISPAN': 'HISPANIC',
 'WHITE HISPANIC': 'HISPANIC',
 'WHITE, HISPANIC': 'HISPANIC',
 'WHITE-HIS': 'HISPANIC',
 'WHITE-HISPANIC': 'HISPANIC',
 'WHITE-NOT HISP': 'WHITE',
 'WHITE-NOT HISP.': 'WHITE',
 'WHITE/ HISP': 'HISPANIC',
 'WHITE/ NOT HISP.': 'WHITE',
 'WHITE/ASIAN': 'MIXED',
 'WHITE/H': 'HISPANIC',
 'WHITE/HIS': 'HISPANIC',
 'WHITE/HISPANIC': 'HISPANIC',
 'WHITE/NH': 'WHITE',
 'WHITE/NOT HISP': 'WHITE',
 'WHT': 'WHITE',
 'WHT / HISP': 'HISPANIC',
 'WHT.': 'WHITE',
 'WHT/A.S': 'MIXED',
 'WHT/H': 'HISPANIC',
 'WHT/HIS': 'HISPANIC',
 'WHT/HISP': 'HISPANIC',
 'WHTIE': 'WHITE',
 'WI': 'WHITE',
 'WT': 'WHITE',
 'WT (HISP)': 'HISPANIC',
 'WT HIS': 'HISPANIC',
 'WT/HI': 'HISPANIC',
 'WT/HP': 'HISPANIC',
 'WT/HSP': 'HISPANIC'}

#### Then mapped the category, creating extra columns for each

In [73]:
df['Officer_1_race_st'] = df['Officer_1_race'].map(standard_race)
df['Officer_2_race_st'] = df['Officer_2_race'].map(standard_race)
df['Officer_3_race_st'] = df['Officer_3_race'].map(standard_race)
df['Officer_1_race_sep'] = df['Officer_1_race'].map(sep_race)
df['Officer_2_race_sep'] = df['Officer_2_race'].map(sep_race)
df['Officer_3_race_sep'] = df['Officer_3_race'].map(sep_race)
df['Officer_1_eth_sep'] = df['Officer_1_race'].map(sep_eth)
df['Officer_2_eth_sep'] = df['Officer_2_race'].map(sep_eth)
df['Officer_3_eth_sep'] = df['Officer_3_race'].map(sep_eth)

In [74]:
print "Percent of racial values covered:" , float(df.Officer_1_race_st.count()) / float(df.Officer_1_race.count())

Percent of racial values covered: 0.99965943921

In [75]:
print "Number of rows with separate racial and ethnic values for 1st officer: ", df.Officer_1_eth_sep.count()

Number of rows with separate racial and ethnic values for 1st officer:  620

In [76]:
# Remaining racial categories to define
df[df.Officer_1_race_st.isnull() == True]['Officer_1_race'].value_counts()

N/A      17
5-JAN     1
Name: Officer_1_race, dtype: int64

#### Preliminary racial breakdown of first officer

In [77]:
df.Officer_1_race_st.value_counts()

WHITE                     43460
BLACK                      4512
HISPANIC                   3989
ASIAN                       550
ASIAN/PACIFIC ISLANDER      125
ND                           88
OTHER                        42
MIXED                        27
ILLEGIBLE                    25
UNKNOWN                       8
NATIVE AMERICAN               7
PACIFIC ISLANDER              3
Name: Officer_1_race_st, dtype: int64

In [78]:
print "Total number of columns with completed race", df.Officer_1_race_st.count()

Total number of columns with completed race 52836

Officer badge no. is fairly straightforward, so skipped ahead

### Officer injuries and deaths

#### For each one, quickly replaced first officer category mistakes

In [79]:
df.Officer_1_injured = df.Officer_1_injured.replace(to_replace='N/A  or not listed', value='N/A or not listed')

In [80]:
df.Officer_1_injured.value_counts()

No                   64508
Yes                   6646
N/A or not listed     1331
Name: Officer_1_injured, dtype: int64

In [81]:
df.Officer_2_injured.value_counts()

N/A or not listed    12361
No                     437
Yes                     46
Name: Officer_2_injured, dtype: int64

In [82]:
df.Officer_3_injured.value_counts()

N/A or not listed    12657
No                     169
Yes                     18
Name: Officer_3_injured, dtype: int64

In [83]:
df.Officer_1_hosp = df.Officer_1_hosp.replace(to_replace='N/A or Not listed', value='N/A or not listed')

In [84]:
df.Officer_1_hosp.value_counts()

N/A or not listed    49519
No                   21742
Yes                   1224
Name: Officer_1_hosp, dtype: int64

In [85]:
df.Officer_2_hosp.value_counts()

N/A or not listed    12361
No                     447
Yes                     36
Name: Officer_2_hosp, dtype: int64

In [86]:
df.Officer_3_hosp.value_counts()

N/A or not listed    12657
No                     167
Yes                     20
Name: Officer_3_hosp, dtype: int64

In [87]:
df.Officer_1_killed = df.Officer_1_killed.replace(to_replace=['N/A  or not listed', 'N/A or Not listed'], value='N/A or not listed')

In [88]:
df.Officer_1_killed.value_counts()

No                   51930
N/A or not listed    20493
Yes                     62
Name: Officer_1_killed, dtype: int64

In [89]:
df.Officer_2_killed.value_counts()

N/A or not listed    12553
No                     289
Yes                      2
Name: Officer_2_killed, dtype: int64

In [90]:
df.Officer_3_killed.value_counts()

N/A or not listed    12757
No                      85
Yes                      2
Name: Officer_3_killed, dtype: int64

<a id='supervisor'></a>

## Supervisor stuff

[Back to the top](#table_of_contents)

#### First & last name

In [91]:
df.Supervisor_first = df.Supervisor_first.str.title()

In [92]:
df.Supervisor_first.unique()

array(['Steve', 'Joseph', 'James', ..., 'Paulo', 'Mcdonald', 'Catalino'], dtype=object)

In [93]:
df.Supervisor_last = df.Supervisor_last.str.title()

In [94]:
df.Supervisor_last.unique()

array(['Hollyfield', 'Cieri', 'Morton', ..., 'Meagher', 'Gural', 'Alago'], dtype=object)

#### Badge no. Fairly straightforward

In [95]:
df.Supervisor_badge_no.unique()

array(['421', '422', '426', ..., 'A747', 'S281', '0072'], dtype=object)

#### Signature: All clean

In [96]:
df.Supervisor_signed.value_counts()

Yes    47920
No     24565
Name: Supervisor_signed, dtype: int64

<a id='subject_profile'></a>

## Subject profile

[Back to the top](#table_of_contents)

### Name & age

#### Put last and first in correct caps

In [97]:
df.Subject_1_first = df.Subject_1_first.str.title()
df.Subject_1_last = df.Subject_1_last.str.title()
df.Subject_2_first = df.Subject_2_first.str.title()
df.Subject_2_last = df.Subject_2_last.str.title()
df.Subject_3_first = df.Subject_3_first.str.title()
df.Subject_3_last = df.Subject_3_last.str.title()

In [98]:
df.Subject_1_age = df.Subject_1_age.str.upper()

In [99]:
df.Subject_1_age.value_counts()

22       3316
21       3277
23       3234
25       3045
24       2848
26       2745
20       2695
27       2571
19       2565
28       2435
BLANK    2252
18       2237
30       2149
29       2023
31       1877
32       1782
34       1723
33       1695
17       1604
35       1513
36       1303
37       1299
16       1267
38       1129
39       1023
41       1017
40        959
42        954
47        944
46        935
         ...
91         10
89          8
85          8
82          7
7           7
88          6
92          5
95          3
99          3
4           3
5           3
2           2
93          2
18-25       2
123         2
21-25       2
94          2
40-50       1
96          1
98          1
21-30       1
285         1
15-30       1
170         1
1           1
6           1
135         1
3           1
28.5        1
49/54       1
Name: Subject_1_age, dtype: int64

In [100]:
df.Subject_1_age = df.Subject_1_age.replace(to_replace=['123','135', '170', '285'], value=np.nan)

In [101]:
age = pd.DataFrame(pd.to_numeric(df.Subject_1_age, errors=coerce))

print "Percent of age values that are numeric:", float(age.count()) / float(df.Subject_1_age.count())

Percent of age values that are numeric: 0.957270971302

### Sex

In [102]:
df.Subject_1_sex.value_counts()

Male            57900
Female          13200
Not listed       1152
REDACTED          223
ILLEGIBLE           5
Male, Female        2
Unk                 2
Male/Female         1
Name: Subject_1_sex, dtype: int64

In [103]:
df.Subject_2_sex.value_counts()

Not listed       70632
Male              1272
Female             504
Not Listed          66
REDACTED             8
M                    1
Male & Female        1
Name: Subject_2_sex, dtype: int64

In [104]:
df.Subject_2_sex = df.Subject_2_sex.replace(to_replace='M', value='Male')

In [105]:
df.Subject_3_sex.value_counts()

Not listed    12759
Male             69
Female           15
REDACTED          1
Name: Subject_3_sex, dtype: int64

### Race

#### Used existing dictionary from above to map values

In [106]:
df['Subject_1_race_st'] = df['Subject_1_race'].map(standard_race)
df['Subject_2_race_st'] = df['Subject_2_race'].map(standard_race)
df['Subject_3_race_st'] = df['Subject_3_race'].map(standard_race)
df['Subject_1_race_sep'] = df['Subject_1_race'].map(sep_race)
df['Subject_2_race_sep'] = df['Subject_2_race'].map(sep_race)
df['Subject_3_race_sep'] = df['Subject_3_race'].map(sep_race)
df['Subject_1_eth_sep'] = df['Subject_1_race'].map(sep_eth)
df['Subject_2_eth_sep'] = df['Subject_2_race'].map(sep_eth)
df['Subject_3_eth_sep'] = df['Subject_3_race'].map(sep_eth)

In [107]:
print "Percent of racial values covered:", float(df['Subject_1_race_st'].count()) / float(df.Subject_1_race.count())

Percent of racial values covered: 0.999901377892

In [108]:
df[df['Subject_1_race_st'].isnull() == True].Subject_1_race.value_counts()

5-JAN    4
2-JAN    3
Name: Subject_1_race, dtype: int64

#### Breakdown of subject race

In [109]:
df['Subject_1_race_st'].value_counts()

WHITE                     34214
BLACK                     28641
HISPANIC                   6810
ASIAN                       438
ND                          305
REDACTED                    249
ASIAN/PACIFIC ISLANDER      186
OTHER                        35
NATIVE AMERICAN              24
ILLEGIBLE                    24
PACIFIC ISLANDER             20
UNKNOWN                      18
MIXED                         6
DEER                          1
Name: Subject_1_race_st, dtype: int64

In [110]:
df['Subject_1_race_st'].count()

70971

In [111]:
print "Number of first subject rows with separate racial, ethnic categories:" , df['Subject_1_eth_sep'].count()

Number of first subject rows with separate racial, ethnic categories: 1685

<a id='the_event'></a>

## The event

[Back to the top](#table_of_contents)

### Subject actions

In [112]:
pd.DataFrame(df.Subject_1_actions.value_counts())

                                                    Subject_1_actions
Resisted police officer control                                 36444
Resisted police officer control, Physical threa...              19788
Physical threat/attack officer or another -- Se...               2109
Resisted police officer control, Effect an arrest                 842
Resisted police officer control, Physical threa...                411
Resisted police officer control, Physical threa...                345
Resisted police officer control, Physical threa...                316
Resisted police officer control, Threatened/att...                199
Resisted police officer control, Threatened/ at...                162
Resisted police officer control, Physical threa...                157
Resisted police officer control, Physical threa...                138
Threatened/attacked officer or another with a b...                126
Other                                                             111
Resisted police officer control, Threatened off...                107
Resisted police officer control, Threatened/att...                107
Injured Deer                                                       98
Threatened officer or another with firearm                         96
Threatened/ attacked officer or another with a ...                 79
Resisted police officer control, Restrain for s...                 73
Alcohol-Influence                                                  67
Resisted police officer control, Fled on foot                      58
Resisted police officer control, Resisting by F...                 46
Alcohol - Influence                                                45
Sober                                                              44
Resisted police officer control, Physical threa...                 42
Resisted police officer control, Fled on Foot                      40
Physical threat/attack officer or another -- Se...                 39
ILLEGIBLE                                                          38
Injured deer                                                       36
Physical threat/attack officer or another -- Se...                 35
...                                                               ...
Tried walking away from me when told to stop                        1
Refuses to comply w/officers verbal commands                        1
Resisted police officer control, Physical threa...                  1
Resisted police officer control, Physical threa...                  1
Resisted police officer control, Refused to fol...                  1
Resisted police officer control, Physical threa...                  1
Resisted police officer control, Physical threa...                  1
Reaching in pockets failing to comply with inst...                  1
Swallowed Object believed to be Narcotics                           1
Resisted police officer control, Prevent destru...                  1
In possession of pellet gun                                         1
Resisted police officer control, Physical threa...                  1
Resisted police officer control, Physical threa...                  1
Resisted police officer control, Failed to comp...                  1
Resisted police officer control, Physical threa...                  1
Resisted police officer control, Treated police...                  1
Handgun Formed in Vehicle                                           1
Resisted police officer control, Uncooperative ...                  1
Resisted police officer control, ILLEGIBLE offi...                  1
Resisted police officer control, Refused to be ...                  1
Displayed Firearm During, Domestic And Was In T...                  1
Resisted police officer control, Hold feet whil...                  1
Physical threat/attack officer or another -- Se...                  1
Non-compliance to Officer Commands                                  1
Resisted police officer control, Effect an arre...                  1
Resisting arrest specifically by fleeing                            1
Resisted police officer control, Physical threa...                  1
Prevented self injury                                               1
Resisted police officer control, Physical threa...                  1
EDP Forced to Hospital                                              1

[6040 rows x 1 columns]

In [113]:
print "Number of unique options (including commas):", len(df.Subject_1_actions.unique())

Number of unique options (including commas): 6041

In [114]:
actions = pd.DataFrame(df.Subject_1_actions.str.split(', ', expand=True))

act_agg = actions[0].append(actions[1]).append(actions[2]).append(actions[3]).append(actions[4]).append(actions[5]).append(actions[6]).append(actions[7]).append(actions[8]).reset_index(drop=True)

act_agg = pd.DataFrame(act_agg)[0].value_counts()

print "Number of unique options (ignoring commas): ", act_agg.count()

Number of unique options (ignoring commas):  5625


### Charges

In [115]:
df.Subject_1_charges.value_counts()

BLANK                                                                                       13770
Resisting Arrest                                                                             1387
Aggravated Assault                                                                            908
Disorderly Conduct                                                                            897
2C:29-2 Resisting Arrest                                                                      531
Obstruction                                                                                   447
2                                                                                             374
Disorderly Conduct, Resisting Arrest                                                          363
Simple Assault                                                                                310
2C:33-2                                                                                       264
3                                                                                             255
2C:29-1A                                                                                      249
39:4-50                                                                                       248
2C:29-2                                                                                       236
2C:12-1B(5)(A)                                                                                235
2C:33-2 Disorderly Conduct                                                                    214
2C:29-1, 2C:29-2                                                                              208
2C:33-2A(1)                                                                                   208
2C:33-2A(1), 2C:29-2A(1)                                                                      200
Robbery                                                                                       195
2C:29-1                                                                                       194
Agg Assault                                                                                   194
Obstruction, Resisting                                                                        183
1                                                                                             183
Disorderly, Resisting                                                                         182
2C:33-2, 2C:29-2                                                                              165
Burglary                                                                                      164
Obstruction of Justice                                                                        163
2C:29-2A(1)                                                                                   160
Obstruction, Resisting Arrest                                                                 157
                                                                                            ...
Obstruction, Tampering w/evidence, Resisting Arrest, Poss. of Drug Paraphernalia                1
2C:29-1, 2C:33-2A(1), 2C:29-2A, 2C:39-5D                                                        1
2C:35-10A(1), 2C:29-2A, 2C:36-2                                                                 1
Disorderly Behavior/Resisting Arrest                                                            1
Obstruct/False info/Resist                                                                      1
2c:12-1b, 2c:29-2a, 2c:29-1                                                                     1
Assault, Harras. Etc                                                                            1
Robbery, Others                                                                                 1
39:4-50, 2C:33-2/ 2C:12-13,2C:29-1                                                              1
2C:12-1a, 2C:12-1b.5a, 2C:331a, and ILLEGIBLE                                                   1
2C:12-1B (5) A, 39:4-50                                                                         1
Agg Asslt, Resist Arr, Discord Cond, Tresspass                                                  1
2C:12-1A(1), 2C:29-3B(4), 2C:12-1B(5)(A), 2C:12-1B(5)(A)                                        1
2c:12-1a(1), 2c:17-3, 2c:12-1B(1), 2c:12-3                                                      1
2C:12-1, 2C:29-2, 2C:17-3                                                                       1
Aggravated Assault, Simple Assault, Resisting                                                   1
Shoplifting & Obstruction (2 counts)                                                            1
2C:29-2a(2), 2C:29-2, 2C:20-7a                                                                  1
Obstruction- Resisting                                                                          1
Threats                                                                                         1
Domestic/Resisting Police                                                                       1
2C:35-10A(1), 29-2A(1)                                                                          1
Possession/Distribution of heroin                                                               1
Crim mischief/Resisting arrest/aggravated assault on police                                     1
Gun Possession                                                                                  1
2C:35-10(A)(A), 2C:36-2                                                                         1
2C:12-1B(5)(A), 2C:35-10A(4), 2C:36-2, 2C:29-2A                                                 1
Crim Tresspass Resisting Arrest 2C:29-2A Agg Assault 2C:12-1B Obstruct ILLEGIBLE 2C:29-1        1
Resisting Arrest, Criminal, Mischief, Obstructing                                               1
2C:29-2B, 2C:29-2a3, 2C:35-5a(1), 2C:35-7.1                                                     1
Name: Subject_1_charges, dtype: int64

In [116]:
df.Subject_1_charges = df.Subject_1_charges.str.upper()

#### First, created one csv with all the unique values for charges

In [117]:
charges = pd.DataFrame(df.Subject_1_charges.str.split(', ', expand=True))

ch_agg = charges[0].append(charges[1]).append(charges[2]).append(charges[3]).append(charges[4]).append(charges[5]).append(charges[6]).append(charges[7]).append(charges[8]).append(charges[9]).append(charges[10]).reset_index(drop=True)

ch_agg = pd.DataFrame(ch_agg)[0].value_counts()

# ch_agg.to_csv('aggregate_charges.csv')

### Nature of force

#### Put into title case

In [118]:
df.Subject_1_force_nature = df.Subject_1_force_nature.str.title()

In [119]:
len(df.Subject_1_force_nature.unique())

4661

In [120]:
df.Subject_1_force_nature.value_counts()

Compliance Hold                                                                             35541
Compliance Hold, Hands/Fists                                                                12343
Hands/Fists                                                                                  3309
Chemical Agent (Pepper Spray)                                                                1758
Compliance Hold, Chemical Agent (Pepper Spray)                                               1529
Physical                                                                                     1458
Compliance Hold, Hands/Fists, Kicks/Feet                                                     1039
Compliance Hold, Hands/Fists, Chemical Agent (Pepper Spray)                                   831
Compliance Hold, Kicks/Feet                                                                   539
Compliance Hold, Wrestle To The Ground                                                        437
Strike/Use Of Baton Or Other Object                                                           300
Compliance Hold, Strike/Use Of Baton Or Other Object                                          286
Hands/Fists, Kicks/Feet                                                                       260
Hands/Fists, Chemical Agent (Pepper Spray)                                                    256
Kicks/Feet                                                                                    254
Compliance Hold, Hands/Fists, Strike/Use Of Baton Or Other Object                             221
Physical Restraint                                                                            212
Canine                                                                                        200
Compliance Hold, Taken To The Ground                                                          169
Compliance Hold, Physical Restraint                                                           166
Pointed Firearm                                                                               159
Compliance Hold, Wrestle To Ground                                                            144
Compliance Hold, Hands/Fists, Kicks/Feet, Chemical Agent (Pepper Spray)                       115
Mechanical/ Enhanced Mechanical                                                               109
Compliance Hold, Taken To Ground                                                              109
Compliance Hold, Take Down                                                                    104
Mechanical/ Enhanced Mechanical, Physical                                                      98
Tackle                                                                                         92
Hands/Fists, Strike/Use Of Baton Or Other Object                                               88
Compliance Hold, Tackle                                                                        84
                                                                                            ...
Compliance Hold, Carried To Cell                                                                1
Compliance Hold, Knee On Shoulder                                                               1
Compliance Hold, Grabbed Subject'S Shirt And Wrist                                              1
Compliance Hold, Grabbed His Coat Held Him Next To Car                                          1
Constructive W/Drawn                                                                            1
Held Subject Down                                                                               1
Compliance Hold, Guided Into Patrol Car                                                         1
Compliance Hold, Riot Shield                                                                    1
Compliance Hold, Hands/Fists, Taken Down To Secure Wrists In Handcuffs                          1
Compliance Hold, El Bows And Knees                                                              1
Used Ballistic Shield To Pin Suspect Against Wall                                               1
Compliance Hold, Hands/Fists, Physically Forced To Ground                                       1
Re-Entered @ Taser                                                                              1
Compliance Hold, Pulled Subject On Right Side To Get Him To Exit                                1
Compliance Hold, Placing Subject On The Ground                                                  1
Vehicle Pursuit, Removed From Vehicle                                                           1
Hands/Fists, Taking Subject To The Ground                                                       1
Tackled To The Ground After Foot Pursuit                                                        1
Handcuffs Placed On Him For His Safety                                                          1
Compliance Hold, Hands/Fists, Pushes And Shoves                                                 1
Point Firearm At Suspect                                                                        1
Compliance Hold, Kness Placed On Body - Control                                                 1
Hands/Fists, Arm Bar While On Ground                                                            1
Chemical Agent (Pepper Spray), Deployed Oc Spray                                                1
Bar Stool                                                                                       1
Compliance Hold, Leg Sweep/Takedown                                                             1
Compliance Hold, Baton Used To Pry Hands Free                                                   1
Compliance Hold, Hands/Fists, Strike/Use Of Baton Or Other Object, Wrestle To The Ground        1
Hands/Fists, See Supp                                                                           1
Applied Pressure Point Behind Subjects Ears                                                     1
Name: Subject_1_force_nature, dtype: int64

In [121]:
df.Subject_2_force_nature = df.Subject_2_force_nature.str.title()

In [122]:
df.Subject_2_force_nature.value_counts()

Compliance Hold                                                                                                                                                                    567
Compliance Hold, Hands/Fists                                                                                                                                                       245
Chemical Agent (Pepper Spray)                                                                                                                                                      166
Hands/Fists                                                                                                                                                                         83
Pointed Firearm                                                                                                                                                                     71
Compliance Hold, Chemical Agent (Pepper Spray)                                                                                                                                      68
N/A                                                                                                                                                                                 67
Compliance Hold, Hands/Fists, Kicks/Feet                                                                                                                                            36
Compliance Hold, Hands/Fists, Chemical Agent (Pepper Spray)                                                                                                                         31
Threat Of Deadly Force                                                                                                                                                              18
Compliance Hold, Strike/Use Of Baton Or Other Object                                                                                                                                14
Pointed Firearm At Subject                                                                                                                                                          10
Other                                                                                                                                                                               10
Hands/Fists, Chemical Agent (Pepper Spray)                                                                                                                                           9
Compliance Hold, Hands/Fists, Strike/Use Of Baton Or Other Object                                                                                                                    9
Pointed Firearm (Constructive Authority)                                                                                                                                             9
Weapon Pointed At Suspect                                                                                                                                                            9
Hands/Fists, Kicks/Feet                                                                                                                                                              8
Compliance Hold, Kicks/Feet                                                                                                                                                          8
Kicks/Feet                                                                                                                                                                           8
Strike/Use Of Baton Or Other Object                                                                                                                                                  7
Constructive Authority                                                                                                                                                               7
Held Down                                                                                                                                                                            6
Compliance Hold, Wrestle To The Ground                                                                                                                                               6
Constructive Pointed Department Issued Firearm                                                                                                                                       5
Pointed Duty Weapon                                                                                                                                                                  5
Canine                                                                                                                                                                               4
Compliance Hold, Hands/Fists, Kicks/Feet, Chemical Agent (Pepper Spray)                                                                                                              4
Compliance Hold, Physical Restraint                                                                                                                                                  4
Compliance Hold, Knee In Back                                                                                                                                                        3
                                                                                                                                                                                  ...
Upholstered Duty Weapon                                                                                                                                                              1
Shotgun Deployed                                                                                                                                                                     1
Grabbed                                                                                                                                                                              1
Pointed Gun At Subjects                                                                                                                                                              1
Constructive Authority Only Pointed Duty Weapon At Subject                                                                                                                           1
Stolen Vehicle Struck To Divert From Ramming W201                                                                                                                                    1
Hands/Fists, Brachial Plexis Origin Nerve Point                                                                                                                                      1
Constructive Force (Drew Weapon)                                                                                                                                                     1
Pointed Firearm At Subjects During High Risk Stop                                                                                                                                    1
High Risk Motor Vehicle Stop/Constructive Authority-Pointed Weapon                                                                                                                   1
Compliance Hold, Hands/Fists, Constructive Authority                                                                                                                                 1
Pointed Shotgun And Suspect                                                                                                                                                          1
No Force Used - Constructive Authority Displayed Duty Weapon                                                                                                                         1
Exhibit Dept Rifle                                                                                                                                                                   1
Pointed Firearm At Subjects During A High Risk Car Stop                                                                                                                              1
Compliance Hold, Chemical Agent (Pepper Spray), Canine                                                                                                                               1
Constructive Authority- Use Of Rifle                                                                                                                                                 1
Pointed Fire Arm At Suspects                                                                                                                                                         1
Compliance Hold, Wrestled                                                                                                                                                            1
Constructive Authority (Weapon Pointed At Suspect)                                                                                                                                   1
Compliance Hold, Hands/Fists, Constructive Baton Used To Back Up Second Male That Grabbed Me While Assisting Officers Arresting A Disorderly Disorderly Suspect #1 (No Contact)      1
Chemical Agent (Pepper Spray), Wrestling                                                                                                                                             1
Compliance Hold, Chemical Agent (Pepper Spray), Strike/Use Of Baton Or Other Object                                                                                                  1
Compliance Hold, Push To Ground                                                                                                                                                      1
Compliance Hold, Hands/Fists, Kicks/Fists                                                                                                                                            1
Constructive Pointed Department Illegible                                                                                                                                            1
Pushed Subject                                                                                                                                                                       1
Tackle/Wrestle                                                                                                                                                                       1
Blank                                                                                                                                                                                1
Pointed Firearm At Subjects                                                                                                                                                          1
Name: Subject_2_force_nature, dtype: int64

In [123]:
df.Subject_3_force_nature = df.Subject_3_force_nature.str.title()

In [124]:
df.Subject_3_force_nature.value_counts()

Chemical Agent (Pepper Spray)                                                          14
Compliance Hold, Hands/Fists                                                           10
Compliance Hold                                                                         7
Pointed Firearm (Constructive Authority)                                                6
Constructive Pointed Department Issued Firearm                                          5
Pointed Firearm                                                                         5
Compliance Hold, Strike/Use Of Baton Or Other Object                                    4
Other                                                                                   4
Compliance Hold, Hands/Fists, Kicks/Feet                                                3
Pointed Firearm At Subjects                                                             2
Hands/Fists, Kicks/Feet                                                                 2
Constructive Authority Weapon Pointed At Suspects                                       2
Constructive Force: Pointed Weapon                                                      2
Compliance Hold, Chemical Agent (Pepper Spray)                                          2
Handgun Deployed                                                                        1
Pointed Firearm At Suspects                                                             1
Compliance Hold, Hands/Fists, Take Down                                                 1
Firearm Discharge                                                                       1
Firearm Drawn To Hold Suspects Actively Burglarizing A Residence                        1
Pointed Weapon Constructive Force                                                       1
Compliance Hold, Hands/Fists, Chemical Agent (Pepper Spray)                             1
Constructive Force                                                                      1
Hands/Fists, Chemical Agent (Pepper Spray), Strike/Use Of Baton Or Other Object         1
Compliance Hold, Hands/Fists, Wrestled                                                  1
Firearm                                                                                 1
Pointed Firearm At Suspect                                                              1
Compliance Hold, Handcuffed                                                             1
Shot Gun Deployed                                                                       1
Compliance Hold, Chemical Agent (Pepper Spray), Strike/Use Of Baton Or Other Object     1
Constructive Authority (Weapon Pointed At Suspect)                                      1
Pointed Fire Arm At Suspects                                                            1
Hands/Fists                                                                             1
Physical Restraint                                                                      1
Hands/Fists, Chemical Agent (Pepper Spray)                                              1
Name: Subject_3_force_nature, dtype: int64

In [125]:
force_nature = pd.DataFrame(df.Subject_1_force_nature.str.split(', ', expand=True))

fn_agg = force_nature[0].append(force_nature[1]).append(force_nature[2]).append(force_nature[3]).append(force_nature[4]).append(force_nature[5]).reset_index(drop=True)

fn_agg = pd.DataFrame(fn_agg)[0].value_counts()

fn_agg.count()

4018

### Firearms

In [126]:
df.Firearms_used.value_counts()

N/A (Select if not listed or blank)    70145
Discharged                               866
N/A (Select if not listed or BLANK)      744
N/A (Select if Not listed or blank)      471
Pointing or Pointed                      258
Discharge                                  1
Name: Firearms_used, dtype: int64

#### Changed one mistake in "Discharge"

In [127]:
df.Firearms_used = df.Firearms_used.str.title()
df.Firearms_used = df.Firearms_used.replace(to_replace='Discharge', value='Discharged')

In [128]:
df.Firearms_discharged.value_counts()

N/A (Select if not listed or blank)    70448
Intentional                              800
N/A (Select if not listed or BLANK)      744
N/A (Select if Not listed or blank)      482
Accidental                                11
Name: Firearms_discharged, dtype: int64

In [129]:
df.Firearms_discharged = df.Firearms_discharged.str.title()

In [130]:
df.Firearms_shots_no.value_counts()

0        64747
1          367
2          234
3           84
UNK         30
4           28
5           14
6           10
Unk          8
DNA          2
14           2
13           2
2-Jan        1
15           1
11           1
12           1
8            1
More         1
7            1
4-Mar        1
Name: Firearms_shots_no, dtype: int64

In [131]:
df.Firearms_shots_no = df.Firearms_shots_no.str.upper()

#### Original value:

In [132]:
df.loc[df.Firearms_shots_no.str.contains('JAN', na=False), 'Firearms_shots_no']

20576    2-JAN
Name: Firearms_shots_no, dtype: object

#### Target value:

In [133]:
"1-" + df[df.Firearms_shots_no.str.contains('JAN', na=False)]['Firearms_shots_no'].str.split('-', expand=True)[0]

20576    1-2
Name: 0, dtype: object

#### Combined to change the two:

In [134]:
df.loc[df.Firearms_shots_no.str.contains('JAN', na=False), 'Firearms_shots_no'] = "1-" + df[df.Firearms_shots_no.str.contains('JAN', na=False)]['Firearms_shots_no'].str.split('-', expand=True)[0]

In [135]:
df.loc[df.Firearms_shots_no.str.contains('MAR', na=False), 'Firearms_shots_no'] = "3-" + df[df.Firearms_shots_no.str.contains('MAR', na=False)]['Firearms_shots_no'].str.split('-', expand=True)[0]

### Subject injured, hospitalized, killed

In [136]:
df.Subject_1_injured = df.Subject_1_injured.str.title()
df.Subject_2_injured = df.Subject_2_injured.str.title()
df.Subject_3_injured = df.Subject_3_injured.str.title()

In [137]:
df.Subject_1_hosp = df.Subject_1_hosp.str.title()
df.Subject_2_hosp = df.Subject_2_hosp.str.title()
df.Subject_3_hosp = df.Subject_3_hosp.str.title()

In [138]:
df.Subject_1_killed = df.Subject_1_killed.str.title()
df.Subject_2_killed = df.Subject_2_killed.str.title()

In [139]:
df.Subject_1_killed.value_counts()

No           51320
Yes            355
Redacted         2
Illegible        1
Name: Subject_1_killed, dtype: int64

In [140]:
df.Subject_3_killed.unique()

array([ nan])

### Photo and narrative

In [141]:
df.Subject_1_photo = df.Subject_1_photo.str.title()
df.Subject_2_photo = df.Subject_2_photo.str.title()

In [142]:
df.Subject_1_photo.value_counts()

No     1583
N/A     243
Yes     181
Name: Subject_1_photo, dtype: int64

In [143]:
df.Narrative.unique()

array(['See 310',
       'After the subject urinated on the floor of the booking room I attempted to scan him with the metal detecting wand in order to place him in a holding cell. In the course of attempting to move the in compliant subject into the holding cell he stripped off all of his clothes, attempted to push his buttocks into me, and braced his hands on the outside of the cell door in order to keep himself out of the cell. I gave multiple verbal commands for the subject to enter the cell and he continued to resist. At which time. With two open hands I pushed on the suspects back to force him into the cell. The suspect stumbled to the rear of the cell and regained his balance along the rear wall of the cell.',
       'Subject was forcefully put to the ground while resisting arrest. He was placed under arrest and handcuffed. He was later charged with 3 counts of burglary and criminal mischief. See investigation report for details.',
       ...,
       'Above individual was having a seizure and it took multiple police and emergency medical personnel to restrain above individual to secure him to the stretcher. I followed the ambulance to St. Claires hospital while p/o Nick Lyasko, Pete Lyasko, Mike Rossi rode in the ambulance to assist medics.',
       'On the above date and time, while assisting p/o P. Lyasko with an extremely combative seizure patient, this officer used physical force to restrain the above actor from his continuous attempts to assault medical personnel and all officers present. Actor spit in this officers eye and mouth during the altercation. This officer resorted to handcuffing the actor to the stretcher he was located on to immobilize his right arm due to his extreme strength and lack of compliance.',
       'Defendant was arrested for disorderly conduct in this jurisdiction earlier this date. Defendant was in the holding cell threatening physical force when officers remove him from the cell. The defendant was remove from the holding cell to be transported to the MCCF. Prior to his transport the defendant did not comply with officers orders and refused to be handcuffed. P/O Garcia, Scherr, Elko, Sgt Wladich, and myself brought the defendant to the floor and restrained him. The defendant was placed into 35-07 and.'], dtype=object)

In [144]:
df.Narrative = df.Narrative.replace(to_replace=['\r','\n'], value=' ', regex=True)

In [145]:
# df.to_csv('Data_cleaning_checkup.csv')