In [1]:
import pandas as pd

<a id='table_of_contents'></a>

# Table of contents
[Reviewing the dataset](#reviewing_the_dataset)        
    <a href='#file_information'>File information</a>         
    <a href='#officer_information'>Officer information</a>      
    <a href='#race'>Race data</a>         
    <a href='#supervisor'>Supervisor information</a>       
    <a href='#subject_profile'>Subject profile</a>        
    <a href='#the_event'>The event</a>

<a id='reviewing_the_dataset'></a>
# Reviewing the dataset

### Assigned simplified column names to the dataset

In [2]:
new_cols = ['Timestamp', 'Date_inputted', 'County', 'Town', 'File_name', 'Case_report_no',
            'Incident_date', 'Incident_time', 'Location_city', 'Location_detail','Incident_type', 
            'Officer_1_first','Officer_1_last','Officer_1_rank','Officer_1_exp',
            'Officer_1_sex','Officer_1_race','Officer_1_badge_no','Officer_1_injured','Officer_1_hosp' ,'Officer_1_killed',
            'Supervisor_first','Supervisor_last','Supervisor_badge_no','Supervisor_signed',
            'Officer_2_first','Officer_2_last','Officer_2_rank','Officer_2_exp', 'Officer_2_sex',
            'Officer_2_race','Officer_2_badge_no','Officer_2_injured','Officer_2_hosp', 'Officer_2_killed',
            'Officer_3_first','Officer_3_last','Officer_3_rank','Officer_3_exp', 'Officer_3_sex',
            'Officer_3_race','Officer_3_badge_no','Officer_3_injured','Officer_3_hosp', 'Officer_3_killed',
            'Subject_1_first','Subject_1_last','Subject_1_age', 'Subject_1_race','Subject_1_sex',
            'Subject_1_actions','Subject_1_charges','Subject_1_force_nature','Firearms_used',
            'Firearms_discharged','Firearms_shots_no','Subject_1_injured','Subject_1_hosp',
            'Subject_1_killed','Subject_1_photo','Narrative', 
            'Subject_2_first','Subject_2_last','Subject_2_age', 'Subject_2_race','Subject_2_sex',
            'Subject_2_actions','Subject_2_charges','Subject_2_force_nature',
            'Subject_2_injured','Subject_2_hosp','Subject_2_killed','Subject_2_photo', 
            'Subject_3_first','Subject_3_last', 'Subject_3_age', 'Subject_3_race',
            'Subject_3_sex','Subject_3_actions','Subject_3_charges',
            'Subject_3_force_nature','Subject_3_injured','Subject_3_hosp',
            'Subject_3_killed','Subject_3_photo'
           ]

In [3]:
# Reading in the data
df = pd.read_csv('UoF-RAW-Complete.csv', names=new_cols, header=None, skiprows=1)

/Users/epetenko/miniconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (25,26,27,29,30,31,32,33,34,35,36,37,39,40,42,43,44,55,72,73,74,75,76,77,78,79,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# Here are the first five rows
df.head()

,Timestamp,Date_inputted,County,Town,File_name,Case_report_no,Incident_date,Incident_time,Location_city,Location_detail,...,Subject_3_age,Subject_3_race,Subject_3_sex,Subject_3_actions,Subject_3_charges,Subject_3_force_nature,Subject_3_injured,Subject_3_hosp,Subject_3_killed,Subject_3_photo
0,6/7/18 6:04,6/8/16,Union County,Springfield,SPRINGFIELD-UNION-UOF-2012-2016,I-2012-002796,4/14/12,7:46,Springfield,"295 Route 22 Eastbound, NJ 07081",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6/7/18 6:17,6/8/16,Union County,Springfield,SPRINGFIELD-UNION-UOF-2012-2016,I-2012-009250,10/2/12,4:34,Springfield,"100 Mountain Avenue, NJ 07081",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6/7/18 6:23,6/8/16,Union County,Springfield,SPRINGFIELD-UNION-UOF-2012-2016,I-2013-000011,1/1/13,1:39,Springfield,"Stew Leonard's Wines - 901 Mountain Avenue, NJ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6/7/18 6:32,6/8/16,Union County,Springfield,SPRINGFIELD-UNION-UOF-2012-2016,I-2013-004131,4/19/13,11:59,Springfield,"Victory Road, NJ 07081",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6/7/18 6:39,6/8/16,Union County,Springfield,SPRINGFIELD-UNION-UOF-2012-2016,I-2013-004131,4/19/13,10:51,Springfield,"Victory Road, NJ 07081",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#These are each column's names, length, and data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72485 entries, 0 to 72484
Data columns (total 85 columns):
Timestamp                 72485 non-null object
Date_inputted             72485 non-null object
County                    72485 non-null object
Town                      72485 non-null object
File_name                 72485 non-null object
Case_report_no            72485 non-null object
Incident_date             72485 non-null object
Incident_time             72485 non-null object
Location_city             22859 non-null object
Location_detail           72484 non-null object
Incident_type             71814 non-null object
Officer_1_first           72485 non-null object
Officer_1_last            72485 non-null object
Officer_1_rank            72485 non-null object
Officer_1_exp             50508 non-null object
Officer_1_sex             72485 non-null object
Officer_1_race            52854 non-null object
Officer_1_badge_no        71919 non-null object
Officer_1_injured         72485 non-null object
Officer_1_hosp            72485 non-null object
Officer_1_killed          72485 non-null object
Supervisor_first          72485 non-null object
Supervisor_last           72485 non-null object
Supervisor_badge_no       72485 non-null object
Supervisor_signed         72485 non-null object
Officer_2_first           12844 non-null object
Officer_2_last            12844 non-null object
Officer_2_rank            12844 non-null object
Officer_2_exp             0 non-null float64
Officer_2_sex             12844 non-null object
Officer_2_race            294 non-null object
Officer_2_badge_no        479 non-null object
Officer_2_injured         12844 non-null object
Officer_2_hosp            12844 non-null object
Officer_2_killed          12844 non-null object
Officer_3_first           12844 non-null object
Officer_3_last            12844 non-null object
Officer_3_rank            12844 non-null object
Officer_3_exp             0 non-null float64
Officer_3_sex             12844 non-null object
Officer_3_race            96 non-null object
Officer_3_badge_no        174 non-null float64
Officer_3_injured         12844 non-null object
Officer_3_hosp            12844 non-null object
Officer_3_killed          12844 non-null object
Subject_1_first           72485 non-null object
Subject_1_last            72485 non-null object
Subject_1_age             72485 non-null object
Subject_1_race            70978 non-null object
Subject_1_sex             72485 non-null object
Subject_1_actions         71046 non-null object
Subject_1_charges         72484 non-null object
Subject_1_force_nature    71092 non-null object
Firearms_used             72485 non-null object
Firearms_discharged       72485 non-null object
Firearms_shots_no         72485 non-null object
Subject_1_injured         72485 non-null object
Subject_1_hosp            72485 non-null object
Subject_1_killed          51678 non-null object
Subject_1_photo           2007 non-null object
Narrative                 2945 non-null object
Subject_2_first           72485 non-null object
Subject_2_last            72485 non-null object
Subject_2_age             72485 non-null object
Subject_2_race            1898 non-null object
Subject_2_sex             72484 non-null object
Subject_2_actions         1741 non-null object
Subject_2_charges         72475 non-null object
Subject_2_force_nature    1772 non-null object
Subject_2_injured         72480 non-null object
Subject_2_hosp            72468 non-null object
Subject_2_killed          1307 non-null object
Subject_2_photo           75 non-null object
Subject_3_first           12844 non-null object
Subject_3_last            12844 non-null object
Subject_3_age             12844 non-null object
Subject_3_race            84 non-null object
Subject_3_sex             12844 non-null object
Subject_3_actions         76 non-null object
Subject_3_charges         12844 non-null object
Subject_3_force_nature    88 non-null object
Subject_3_injured         12844 non-null object
Subject_3_hosp            12844 non-null object
Subject_3_killed          0 non-null float64
Subject_3_photo           0 non-null float64
dtypes: float64(5), object(80)
memory usage: 47.0+ MB

### Stripped whitespace from entire dataset

In [6]:
#Select object-only columns
str_cols = df.select_dtypes(include=['object']).columns

# Ran loop to strip each of those columns
for n in str_cols:
    df[n] = df[n].str.strip()

#### Individually viewed each column to check what outlier points there may be

In [7]:
#Just kind of imagine this but for every column. I don't feel like including all of it here
df.Subject_1_killed.unique()

array(['No', nan, 'Yes', 'REDACTED', 'ILLEGIBLE'], dtype=object)

#### Isolated deaths from subjects and officers to allow for faster reporting

In [8]:
# df[(df.Subject_1_killed == 'Yes') | (df.Subject_2_killed == 'Yes')].to_csv('Subjects_killed.csv', index=False)

In [9]:
# df[(df.Officer_1_killed == 'Yes') | (df.Officer_2_killed == 'Yes') | (df.Officer_3_killed == 'Yes')].to_csv('Officers_killed.csv', index=False)

# Standardizing each column

<a id='file_information'></a>

## Part 1 - File information

[Back to the top](#table_of_contents)

### First step: Timestamp column. Changed to DateTime format

In [10]:
df.Timestamp.unique()

array(['6/7/18 6:04', '6/7/18 6:17', '6/7/18 6:23', ...,
       '6/15/2018 0:58:00', '6/15/2018 1:00:32', '6/15/2018 1:05:55'], dtype=object)

In [11]:
# Needed to replace year abbreviations with actual year
df.Timestamp = df.Timestamp.replace(to_replace='/18 ', value="/2018 ", regex=True)

In [12]:
df.Timestamp = pd.to_datetime(df.Timestamp, errors='coerce')

In [13]:
#confirmed with visual check in both pandas and Excel
df.Timestamp.unique()
# pd.DataFrame(df.Timestamp.unique()).to_csv('datetime_check.csv')

array(['2018-06-07T06:04:00.000000000', '2018-06-07T06:17:00.000000000',
       '2018-06-07T06:23:00.000000000', ...,
       '2018-06-15T00:58:00.000000000', '2018-06-15T01:00:32.000000000',
       '2018-06-15T01:05:55.000000000'], dtype='datetime64[ns]')

### Next: The given date in the form

In [14]:
#the original values
df.Date_inputted.unique()

array(['6/8/16', '2/19/18', '2/20/18', '2/21/18', '2/22/18', '2/23/18',
       '2/26/18', '2/27/18', '2/28/18', '3/1/18', '3/2/18', '3/5/18',
       '3/6/18', '3/7/18', '3/8/18', '3/9/18', '3/12/18', '3/13/18',
       '3/14/18', '3/15/18', '3/16/18', '3/19/18', '3/20/18', '3/21/18',
       '3/22/18', '3/23/18', '3/26/18', '3/27/18', '3/28/18', '3/29/18',
       '3/30/18', '4/2/18', '4/3/18', '4/4/18', '4/5/18', '4/6/18',
       '4/9/18', '4/10/18', '4/11/18', '4/12/18', '4/13/18', '4/16/18',
       '4/17/18', '4/18/18', '4/19/18', '4/20/18', '4/23/18', '4/24/18',
       '4/25/18', '4/26/18', '4/27/18', '4/30/18', '5/1/18', '5/2/18',
       '5/3/18', '5/4/18', '5/7/18', '5/8/18', '5/9/18', '5/10/18',
       '5/11/18', '5/14/18', '5/15/18', '5/16/18', '5/17/18', '5/18/18',
       '5/21/18', '5/22/18', '5/23/18', '5/24/18', '5/25/18', '5/28/18',
       '5/29/18', '5/30/18', '5/31/18', '6/1/18', '6/4/18', '6/5/18',
       '6/6/18', '6/7/18', '6/12/18', '6/13/18', '6/14/18', '6/18/18',
       '6/19/18', '6/20/18', '6/21/18', '6/22/18', '6/25/18', '6/26/18',
       '6/27/18', '6/28/18', '6/29/18', '7/2/18', '7/3/18', '7/4/18',
       '7/5/18', '03-05-2018', '03-15-2018', '03-20-2018', '03-22-2018',
       '03-23-2018', '04-17-2018', '05-07-2018', '05-15-2018',
       '06-11-2018', '06-15-2018'], dtype=object)

#### Replaced 2016 date with 2018 as per Craig's instruction

In [15]:
df.Date_inputted = df.Date_inputted.replace(to_replace='6/8/16', value='6/8/18')

#### Converted to DateTime: checked before and after that none were dropped

In [ ]:
df.Date_inputted.count()

72485

In [ ]:
df.Date_inputted = pd.to_datetime(df.Date_inputted, errors='coerce')

In [ ]:
df.Date_inputted.count()

In [ ]:
df.Date_inputted.unique()
# df.Date_inputted.to_csv('dateinputted_check.csv')

### County: Just changed Hudson to Hudson County

In [ ]:
df.County.unique()

In [ ]:
df.County = df.County.replace(to_replace='Hudson', value='Hudson County', regex=False)

In [ ]:
df.County.unique()

### Town

#### Harder to standardize: Needed to go through and change a bunch

In [ ]:
df.Town.unique()

In [ ]:
df.Town = df.Town.replace(to_replace='Carlstadt NJ Scans 9-2017', value='Carlstadt')
df.Town = df.Town.replace(to_replace='RIver Edge', value='River Edge')
df.Town = df.Town.replace(to_replace='PENNSAUKEN', value='Pennsauken')
df.Town = df.Town.replace(to_replace='Fairfield NJ Scans 9-2017', value='Fairfield')
df.Town = df.Town.replace(to_replace='Verona 2011-16', value='Verona')
df.Town = df.Town.replace(to_replace='East Brunswick NJ Scans 9-2017', value='East Brunswick')
df.Town = df.Town.replace(to_replace='Secaucus 60', value='Secaucus')
df.Town = df.Town.replace(to_replace='LOWER ALLOWAYS CREEK', value='Lower Alloways Creek')
df.Town = df.Town.replace(to_replace='Phillipsburg NJ Scans 9-2017', value='Phillipsburg')

#### Created unique Town and county combined column for prevention of duplicated town names

In [ ]:
df['Town_county'] = df.Town + ', ' + df.County

print "Number of unique towns: ", len(df.Town_county.unique())

### Incident date / Time

####  Changed to datetime, but ignored errors for now because there were about 832 of them

In [ ]:
df.Incident_date.unique()

Note: Should I change "XX" to 01?

In [ ]:
 df.Incident_date.count()

In [ ]:
df[df.Incident_date.str.contains('XX')].Incident_date.count()

In [ ]:
df.Incident_date = pd.to_datetime(df.Incident_date, errors='ignore')

#### Incident time -- again ignored errors (mostly blank and illegible)

In [ ]:
df.Incident_time.count()

In [ ]:
print "Number of blank or illegible values: ", df[df.Incident_time == 'BLANK']['Incident_time'].count() + df[df.Incident_time == 'ILLEGIBLE']['Incident_time'].count()

In [ ]:
df.Incident_time = pd.to_datetime(df.Incident_time, errors='ignore', format="%H:%M")

### Incident type

#### Reducing the amount of repetition by changing everything to same capitalization

In [ ]:
df.Incident_type = df.Incident_type.str.title()

In [ ]:
print "Number of unique incident types:", len(df.Incident_type.unique())

In [ ]:
df.Incident_type.value_counts()

In [ ]:
# pd.DataFrame(df.Incident_type.value_counts()).to_csv('Incident_type_check.csv')

<a id='officer_information'></a>

## Part 2 -- Officer information

[Back to the top](#table_of_contents)

### Officer names

#### Converting to proper case

In [ ]:
df.Officer_1_first = df.Officer_1_first.str.title()
df.Officer_1_last = df.Officer_1_last.str.title()
df.Officer_2_first = df.Officer_2_first.str.title()
df.Officer_2_last = df.Officer_2_last.str.title()
df.Officer_3_first = df.Officer_3_first.str.title()
df.Officer_3_last = df.Officer_3_last.str.title()

In [ ]:
print "Number of unique values for first Officer's name: ", len(df.Officer_1_first.unique())

### Officer rank

In [ ]:
df.Officer_1_rank = df.Officer_1_rank.str.upper()
df.Officer_2_rank = df.Officer_2_rank.str.upper()
df.Officer_3_rank = df.Officer_3_rank.str.upper()

#### Initially lots of dirty data: Had to convert to csv and manually translate

In [ ]:
df.Officer_1_rank.value_counts()

In [ ]:
# pd.DataFrame(df.Officer_1_rank.value_counts()).to_csv('officer_rank_check.csv')

#### Read in new csv with standardized values

In [ ]:
rank = pd.read_csv('Officer_rank_dict.csv', index_col='Input', dtype={'Input':str})

In [ ]:
rank.head()

#### Created a dictionary from the standardized values and mapped it to the original data

In [ ]:
standard_rank = rank['Standard_name'].to_dict()
gen_rank = rank['General_name'].to_dict()

In [ ]:
df.Officer_1_rank = df.Officer_1_rank.map(standard_rank)
df.Officer_1_genrank = df.Officer_1_rank.map(gen_rank)

In [ ]:
df.Officer_2_rank = df.Officer_2_rank.map(standard_rank)
df.Officer_2_genrank = df.Officer_2_rank.map(gen_rank)
df.Officer_3_rank = df.Officer_3_rank.map(standard_rank)
df.Officer_3_genrank = df.Officer_3_rank.map(gen_rank)

#### Data is now simplified

In [ ]:
df.Officer_1_rank.value_counts()

In [ ]:
df.Officer_1_genrank.value_counts()

### Officer experience

In [ ]:
# pd.DataFrame(df.Officer_1_exp.value_counts()).to_csv('Officer_experience_check.csv')

In [ ]:
df.Officer_1_exp.value_counts()

#### Took out some unnecessary punctuation and words

In [ ]:
df.Officer_1_exp = df.Officer_1_exp.replace(to_replace=['\+', 'Approx ', 'Approx. ','Approx, ',
                                                       '3 Summer Seasons','>',' (Edison)', '3rd Summer',
                                                       'Appx ','Apprx ','Aprx '], value="", regex=True)

#### Test of how much lost from trying to convert to numerical

I.e. How many still have non-numerical characters in them?

In [ ]:
df.Officer_1_exp.count()

In [ ]:
df.Officer_1_exp = pd.to_numeric(df.Officer_1_exp, errors='coerce')

In [ ]:
df.Officer_1_exp.count()

### Officer sex : Everything looks pretty clean! :)

In [ ]:
df.Officer_1_sex.value_counts()

In [ ]:
df.Officer_2_sex.value_counts()

In [ ]:
df.Officer_3_sex.value_counts()

<a id='race'></a>

## Race: Did officer and subject combined

[Back to the top](#table_of_contents)

#### Standard capitalization

In [ ]:
df.Officer_1_race = df.Officer_1_race.str.upper()
df.Officer_2_race = df.Officer_2_race.str.upper()
df.Officer_3_race = df.Officer_3_race.str.upper()

df.Subject_1_race = df.Subject_1_race.str.upper()
df.Subject_2_race = df.Subject_2_race.str.upper()
df.Subject_3_race = df.Subject_3_race.str.upper()

#### Still many, many dirty values

In [ ]:
df.Officer_1_race.value_counts()

### Race codes:
1. white
2. black
3. american indian/alaskan native
4. asian/pacific islander

### Ethnicity:      
A. of hispanic origin     
B. not of hispanic origin

#### Created a list of all unique racial values

In [ ]:
# Retrieve unique values for race in officer categories
off_race = pd.concat([pd.DataFrame(df.Officer_1_race.value_counts()),
                       pd.DataFrame(df.Officer_2_race.value_counts()),
                       pd.DataFrame(df.Officer_3_race.value_counts())
                    ])

#same with Subject
subj_race = pd.concat([pd.DataFrame(df.Subject_1_race.value_counts()),
                       pd.DataFrame(df.Subject_2_race.value_counts()),
                       pd.DataFrame(df.Subject_3_race.value_counts())
                    ])

#Combined both into single DF of all race values
comb_race = pd.concat([subj_race, off_race])

# Exported it to csv to put into separate Google sheets document
# pd.DataFrame(comb_race.index.value_counts()).to_csv('Race_values.csv')

To create the standardized racial categories, we put all unique race values into a Google spreadsheet and allowed 
for everyone on the team to edit it. We discussed edge cases and created specific standardized codes, as well as separate codes for when the value indicated both race and ethnicity.

#### Read in the results

In [ ]:
race_cat = pd.read_csv('https://docs.google.com/spreadsheets/d/1fG0Ehp1hG_I8KIp9KTtCG88XOxBCXtpiEStJg4H1hLE/export?format=csv', index_col='Input', dtype={'Input':str})

In [ ]:
race_cat

Created a python dictionary to turn codes into the standardized and separate racial and ethnic cat

In [ ]:
standard_race = race_cat.Standardized_race.to_dict()
sep_race = race_cat.Separate_race.to_dict()
sep_eth = race_cat.Separate_eth.to_dict()

In [ ]:
standard_race

#### Then mapped the category, creating extra columns for each

In [ ]:
df['Officer_1_race_st'] = df['Officer_1_race'].map(standard_race)
df['Officer_2_race_st'] = df['Officer_2_race'].map(standard_race)
df['Officer_3_race_st'] = df['Officer_3_race'].map(standard_race)
df['Officer_1_race_sep'] = df['Officer_1_race'].map(sep_race)
df['Officer_2_race_sep'] = df['Officer_2_race'].map(sep_race)
df['Officer_3_race_sep'] = df['Officer_3_race'].map(sep_race)
df['Officer_1_eth_sep'] = df['Officer_1_race'].map(sep_eth)
df['Officer_2_eth_sep'] = df['Officer_2_race'].map(sep_eth)
df['Officer_3_eth_sep'] = df['Officer_3_race'].map(sep_eth)

In [ ]:
print "Percent of racial values covered:" , float(df.Officer_1_race_st.count()) / float(df.Officer_1_race.count())

In [ ]:
print "Number of rows with separate racial and ethnic values for 1st officer: ", df.Officer_1_eth_sep.count()

In [ ]:
# Remaining racial categories to define
df[df.Officer_1_race_st.isnull() == True]['Officer_1_race'].value_counts()

#### Preliminary racial breakdown of first officer

In [ ]:
df.Officer_1_race_st.value_counts()

In [ ]:
print "Total number of columns with completed race", df.Officer_1_race_st.count()

Officer badge no. is fairly straightforward, so skipped ahead

### Officer injuries and deaths

#### For each one, quickly replaced first officer category mistakes

In [ ]:
df.Officer_1_injured = df.Officer_1_injured.replace(to_replace='N/A  or not listed', value='N/A or not listed')

In [ ]:
df.Officer_1_injured.value_counts()

In [ ]:
df.Officer_2_injured.value_counts()

In [ ]:
df.Officer_3_injured.value_counts()

In [ ]:
df.Officer_1_hosp = df.Officer_1_hosp.replace(to_replace='N/A or Not listed', value='N/A or not listed')

In [ ]:
df.Officer_1_hosp.value_counts()

In [ ]:
df.Officer_2_hosp.value_counts()

In [ ]:
df.Officer_3_hosp.value_counts()

In [ ]:
df.Officer_1_killed = df.Officer_1_killed.replace(to_replace=['N/A  or not listed', 'N/A or Not listed'], value='N/A or not listed')

In [ ]:
df.Officer_1_killed.value_counts()

In [ ]:
df.Officer_2_killed.value_counts()

In [ ]:
df.Officer_3_killed.value_counts()

<a id='supervisor'></a>

## Supervisor stuff

[Back to the top](#table_of_contents)

#### First & last name

In [ ]:
df.Supervisor_first = df.Supervisor_first.str.title()

In [ ]:
df.Supervisor_first.unique()

In [ ]:
df.Supervisor_last = df.Supervisor_last.str.title()

In [ ]:
df.Supervisor_last.unique()

#### Badge no. Fairly straightforward

In [ ]:
df.Supervisor_badge_no.unique()

#### Signature: All clean

In [ ]:
df.Supervisor_signed.value_counts()

<a id='subject_profile'></a>

## Subject profile

[Back to the top](#table_of_contents)

### Name & age

#### Put last and first in correct caps

In [ ]:
df.Subject_1_first = df.Subject_1_first.str.title()
df.Subject_1_last = df.Subject_1_last.str.title()
df.Subject_2_first = df.Subject_2_first.str.title()
df.Subject_2_last = df.Subject_2_last.str.title()
df.Subject_3_first = df.Subject_3_first.str.title()
df.Subject_3_last = df.Subject_3_last.str.title()

In [ ]:
df.Subject_1_age = df.Subject_1_age.str.upper()

In [ ]:
df.Subject_1_age.value_counts()

### Sex

In [ ]:
df.Subject_1_sex.value_counts()

In [ ]:
df.Subject_2_sex.value_counts()

In [ ]:
df.Subject_2_sex = df.Subject_2_sex.replace(to_replace='M', value='Male')

In [ ]:
df.Subject_3_sex.value_counts()

### Race

#### Used existing dictionary from above to map values

In [ ]:
df['Subject_1_race_st'] = df['Subject_1_race'].map(standard_race)
df['Subject_2_race_st'] = df['Subject_2_race'].map(standard_race)
df['Subject_3_race_st'] = df['Subject_3_race'].map(standard_race)
df['Subject_1_race_sep'] = df['Subject_1_race'].map(sep_race)
df['Subject_2_race_sep'] = df['Subject_2_race'].map(sep_race)
df['Subject_3_race_sep'] = df['Subject_3_race'].map(sep_race)
df['Subject_1_eth_sep'] = df['Subject_1_race'].map(sep_eth)
df['Subject_2_eth_sep'] = df['Subject_2_race'].map(sep_eth)
df['Subject_3_eth_sep'] = df['Subject_3_race'].map(sep_eth)

In [ ]:
print "Percent of racial values covered:", float(df['Subject_1_race_st'].count()) / float(df.Subject_1_race.count())

In [ ]:
df[df['Subject_1_race_st'].isnull() == True].Subject_1_race.value_counts()

#### Breakdown of subject race

In [ ]:
df['Subject_1_race_st'].value_counts()

In [ ]:
df['Subject_1_race_st'].count()

In [ ]:
print "Number of first subject rows with separate racial, ethnic categories:" , df['Subject_1_eth_sep'].count()

<a id='the_event'></a>

## The event

[Back to the top](#table_of_contents)

### Subject actions

In [ ]:
pd.DataFrame(df.Subject_1_actions.value_counts())

### Charges

In [ ]:
df.Subject_1_charges.value_counts()

#### First, created one csv with all the unique values for charges

In [ ]:
charges = pd.DataFrame(df.Subject_1_charges.str.split(', ', expand=True))

ch_agg = charges[0].append(charges[1]).append(charges[2]).append(charges[3]).append(charges[4]).append(charges[5]).append(charges[6]).append(charges[7]).append(charges[8]).append(charges[9]).append(charges[10]).reset_index(drop=True)

ch_agg = pd.DataFrame(ch_agg)[0].value_counts()

# ch_agg.to_csv('aggregate_charges.csv')

### Nature of force

#### Put into title case

In [ ]:
df.Subject_1_force_nature = df.Subject_1_force_nature.str.title()

In [ ]:
df.Subject_1_force_nature.value_counts()

In [ ]:
df.Subject_2_force_nature = df.Subject_2_force_nature.str.title()

In [ ]:
df.Subject_2_force_nature.value_counts()

In [ ]:
df.Subject_3_force_nature = df.Subject_3_force_nature.str.title()

In [ ]:
df.Subject_3_force_nature.value_counts()

### Firearms

In [ ]:
df.Firearms_used.value_counts()

#### Changed one mistake in "Discharge"

In [ ]:
df.Firearms_used = df.Firearms_used.str.title()
df.Firearms_used = df.Firearms_used.replace(to_replace='Discharge', value='Discharged')

In [ ]:
df.Firearms_discharged.unique()

In [ ]:
df.Firearms_discharged = df.Firearms_discharged.str.title()

In [ ]:
df.Firearms_shots_no.value_counts()

In [ ]:
df.Firearms_shots_no = df.Firearms_shots_no.str.upper()

### Subject injured, hospitalized, killed

In [ ]:
df.Subject_1_injured = df.Subject_1_injured.str.title()
df.Subject_2_injured = df.Subject_2_injured.str.title()
df.Subject_3_injured = df.Subject_3_injured.str.title()

In [ ]:
df.Subject_1_hosp = df.Subject_1_hosp.str.title()
df.Subject_2_hosp = df.Subject_2_hosp.str.title()
df.Subject_3_hosp = df.Subject_3_hosp.str.title()

In [ ]:
df.Subject_1_killed = df.Subject_1_killed.str.title()
df.Subject_2_killed = df.Subject_2_killed.str.title()

In [ ]:
df.Subject_1_killed.value_counts()

In [ ]:
df.Subject_3_killed.unique()

### Photo and narrative

In [ ]:
df.Subject_1_photo = df.Subject_1_photo.str.title()
df.Subject_2_photo = df.Subject_2_photo.str.title()

In [ ]:
df.Subject_1_photo.value_counts()

In [ ]:
df.Narrative.unique()